@use '../variables/typography' as *;
@use '../mixins' as *;

.cm-button {
  --cm-button-height: 36px;
  --cm-button-padding-x: var(--space-12);
  --cm-button-gap: var(--space-4);
  --cm-button-radius: var(--radius-sm);
  --cm-button-icon-size: 20px;

  --cm-button-bg: transparent;
  --cm-button-color: var(--color-text-neutral-5);
  --cm-button-border-color: transparent;

  --cm-button-state-bg: transparent;
  --cm-button-state-hover: transparent;
  --cm-button-state-pressed: transparent;

  /* Base -------------------------------------------------------------------- */
  @include inline-flex(center, center);
  position: relative;
  height: var(--cm-button-height);
  padding: 0 var(--cm-button-padding-x);
  background-color: var(--cm-button-bg);
  border: 1px solid var(--cm-button-border-color);
  border-radius: var(--cm-button-radius);
  color: var(--cm-button-color);
  transition: var(--transition);

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 2;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: var(--cm-button-state-bg);
    border-radius: inherit;
    pointer-events: none;
    transition: var(--transition);
  }

  & + & {
    margin-left: var(--cm-button-gap);
  }

  /* States ------------------------------------------------------------------ */
  &:hover:not(:disabled) {
    --cm-button-state-bg: var(--cm-button-state-hover);
  }
  &:active:not(:disabled) {
    --cm-button-state-bg: var(--cm-button-state-pressed);
  }
  &:disabled {
    cursor: not-allowed;
    --cm-button-state-bg: var(--state-layer-disabled-0);
  }

  /* Child ------------------------------------------------------------------- */
  .cm-button__text {
    display: inline-block;
  }
  .cm-icon {
    width: var(--cm-button-icon-size);
    height: var(--cm-button-icon-size);
  }
}

/* =============================================================================
  Color × Type
============================================================================= */
.cm-button {
  /* Primary ----------------------------------------------------------------- */
  &--primary {
    --cm-button-state-hover: var(--state-layer-hover-99);
    --cm-button-state-pressed: var(--state-layer-pressed-99);

    &.cm-button--fill {
      --cm-button-bg: var(--color-container-primary);
      --cm-button-color: var(--color-text-on-primary);
    }
    &.cm-button--line {
      --cm-button-bg: var(--color-container-neutral-0);
      --cm-button-border-color: var(--color-border-primary);
      --cm-button-color: var(--color-text-primary);
    }
    &.cm-button--text,
    &.cm-button--underline {
      --cm-button-color: var(--color-text-primary);
    }
  }

  /* Secondary --------------------------------------------------------------- */
  &--secondary {
    --cm-button-state-hover: var(--state-layer-hover-99);
    --cm-button-state-pressed: var(--state-layer-pressed-99);

    &.cm-button--fill {
      --cm-button-bg: var(--color-container-neutral-6);
      --cm-button-color: var(--color-text-on-primary);
      --cm-button-state-hover: var(--state-layer-pressed-0);
      --cm-button-state-pressed: var(--color-opacity-white-30);
    }
    &.cm-button--line {
      --cm-button-bg: var(--color-container-neutral-0);
      --cm-button-border-color: var(--color-border-neutral-6);
      --cm-button-color: var(--color-text-neutral-5);
    }
    &.cm-button--text,
    &.cm-button--underline {
      --cm-button-color: var(--color-text-neutral-5);
    }
  }

  /* Neutral ----------------------------------------------------------------- */
  &--neutral {
    --cm-button-state-hover: var(--state-layer-hover-99);
    --cm-button-state-pressed: var(--state-layer-pressed-99);

    &.cm-button--fill {
      --cm-button-bg: var(--color-container-neutral-2);
      --cm-button-color: var(--color-text-neutral-3);
    }
    &.cm-button--line {
      --cm-button-bg: var(--color-container-neutral-0);
      --cm-button-border-color: var(--color-border-neutral-3);
      --cm-button-color: var(--color-text-neutral-3);
    }
    &.cm-button--text,
    &.cm-button--underline {
      --cm-button-color: var(--color-text-neutral-3);
    }
  }

  /* Underline --------------------------------------------------------------- */
  &--underline {
    --cm-button-bg: transparent;
    --cm-button-state-hover: transparent;
    --cm-button-state-pressed: transparent;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

/* =============================================================================
  Size
============================================================================= */
.cm-button {
  &--sm {
    @include typo('label-4sb');
    --cm-button-height: 24px;
    --cm-button-padding-x: var(--space-8);
    --cm-button-gap: var(--space-4);
    --cm-button-radius: var(--radius-xs);
    --cm-button-icon-size: 16px;
  }
  &--md {
    @include typo('label-3sb');
    --cm-button-height: 36px;
    --cm-button-padding-x: var(--space-12);
    --cm-button-gap: var(--space-8);
    --cm-button-icon-size: 20px;
  }
  &--lg {
    @include typo('label-2sb');
    --cm-button-height: 48px;
    --cm-button-padding-x: var(--space-20);
    --cm-button-gap: var(--space-12);
    --cm-button-icon-size: 24px;
  }
  &--xl {
    @include typo('label-1sb');
    --cm-button-height: 56px;
    --cm-button-padding-x: var(--space-20);
    --cm-button-gap: var(--space-16);
    --cm-button-icon-size: 24px;
  }
}

/* =============================================================================
  Modifier
============================================================================= */
.cm-button {
  /* icon-only */
  &.is-icon {
    --cm-button-padding-x: 0;
    width: var(--cm-button-height);

    &.cm-button--sm {
      --cm-button-icon-size: 20px;
    }
    &.cm-button--md {
      --cm-button-icon-size: 24px;
    }
    &.cm-button--lg {
      --cm-button-icon-size: 32px;
    }
  }

  &.is-full {
    width: 100%;
  }
}
