@use '../mixins/index' as *;
@use '../variables/typography' as *;
@use '../mixins/icon' as *;

.cm-editor {
  width: 100%;
  height: 100%;
  .toastui-editor-defaultUI {
    flex: 1;
    // overflow: hidden;
    font-family: var(--font-family);
    border-radius: 8px;
    border-color: var(--color-line-regular);
    &-toolbar {
      align-items: center;
      padding: 0 var(--space-8);
      background-color: var(--color-bg-normal-light);
      border-color: var(--color-line-regular);
      border-radius: 8px 8px 0 0;

      button {
        margin: var(--space-8);
        border: 1px solid transparent;
        &:not(:disabled) {
          &:hover {
            background: var(--color-icon-black);
            border: 1px solid transparent;
          }
        }

        &.heading {
          @include mask-icon('/images/icon/layout-template__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.bold {
          @include mask-icon('/images/icon/file-pen-line__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.italic {
          @include mask-icon('/images/icon/pencil-line__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.strike {
          @include mask-icon('/images/icon/circle-x__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.color {
          @include mask-icon('/images/icon/custom-light__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.link {
          @include mask-icon('/images/icon/link-2__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.table {
          @include mask-icon('/images/icon/layout-template__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.bullet-list {
          @include mask-icon('/images/icon/list-plus__line.svg', 16px);
          background: var(--color-icon-regular);
        }

        &.ordered-list {
          @include mask-icon('/images/icon/list-indent-increase__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.indent {
          @include mask-icon('/images/icon/chevrons-right__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.outdent {
          @include mask-icon('/images/icon/chevrons-left__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.more {
          @include mask-icon('/images/icon/ellipsis__line.svg', 16px);
          background: var(--color-icon-regular);
        }
        &.active {
          background: var(--color-primary-normal);
          &:hover {
            background: var(--color-primary-normal);
          }
        }
      }
    }
    .ProseMirror {
      padding: var(--space-14) var(--space-16);
      color: var(--color-font-main);
      .placeholder {
        color: var(--inputs-placeholder-color);
      }
    }
    .toastui-editor {
      &-toolbar {
        overflow: hidden;
        border-radius: 8px 8px 0 0;

        &-group {
          align-items: center;
          gap: var(--space-4);
          padding: 0 var(--space-4);
        }
        &-divider {
          height: 20px;
          // margin: 0 var(--space-16);
          background-color: var(--color-icon-disabled);
        }
      }
      &-popup {
        background: var(--color-bg-normal-white);
        border-color: var(--color-line-regular);
        &-add-heading {
          ul {
            li {
              &:hover {
                background-color: var(--color-bg-normal-light);
              }
            }
          }
        }
        &-color {
          .tui-colorpicker-clearfix {
            .tui-colorpicker-palette-hex {
              width: 100%;
              height: 32px;
              border: 1px solid var(--inputs-border-color);
              border-radius: var(--btn-radius);
              color: var(--color-font-main);
            }
          }
          button {
            background: var(--color-primary-normal);
            border: 0;
            color: var(--color-font-white);
            border-radius: var(--btn-radius);
          }
          .tui-colorpicker-slider-container {
            margin: 0;
          }
        }
        &-add-table {
          .toastui-editor-table {
            &-cell {
              background: var(--color-bg-normal-white);
              border-color: var(--color-line-regular);
            }
            &-selection-layer {
              border-color: var(--color-primary-normal);
            }
            &-description {
              color: var(--color-font-sub-1);
            }
          }
        }
        &-add-link {
          label {
            font-weight: 400;
            color: var(--color-font-main);
          }
          input[type='text'] {
            width: 100%;
            height: var(--inputs-height-sm);
            background: var(--inputs-background-color);
            border: 1px solid var(--inputs-border-color);
            border-radius: var(--inputs-border-radius);
            color: var(--inputs-text-color);
            outline: none;
          }
        }
      }
      &-close-button {
        background-color: var(--color-bg-normal-white);
        border-color: var(--color-line-regular);
        border-radius: var(--btn-radius-sm);
        color: var(--color-font-main);

        &:hover {
          background-color: var(--color-bg-normal-white);
          border-color: var(--color-line-regular);
          color: var(--color-font-main);
        }
      }
      &-ok-button {
        background-color: var(--color-primary-normal);
        border-radius: var(--btn-radius-sm);
        color: var(--color-font-white);

        &:hover {
          background-color: var(--color-primary-normal);
          color: var(--color-font-white);
        }
      }
      &-dropdown-toolbar {
        flex-wrap: wrap;
        height: fit-content;
        min-height: 46px;
        background: var(--color-bg-normal-white);
        border-color: var(--color-line-regular);
      }
    }
  }
  .toastui-editor-ww-container {
    background-color: var(--color-bg-normal-white);
    border-radius: 0 0 8px 8px;
  }
}

.cm-editor-content,
.cm-editor .toastui-editor-contents {
  @include typo('body-b2');
  display: block;
  font-family: var(--font-family);
  color: var(--color-font-main);
  white-space: pre-wrap;
  word-break: break-word;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  table,
  tr,
  th,
  td,
  a,
  strong,
  b,
  em,
  i {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  table {
    margin: 0;
  }

  h1 {
    @include typo('headline-h4');
  }

  h2 {
    @include typo('headline-h5');
  }

  h3 {
    @include typo('headline-h6');
  }

  h4 {
    @include typo('title-t5', var(--font-weight-semibold));
  }

  h5,
  h6 {
    @include typo('body-b1', var(--font-weight-semibold));
  }

  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: var(--space-12);
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: var(--space-24);
  }

  p + p,
  p + ul,
  p + ol,
  p + table,
  ul + p,
  ul + ul,
  ul + ol,
  ul + table,
  ol + p,
  ol + ul,
  ol + ol,
  ol + table,
  table + p,
  table + ul,
  table + ol,
  table + table {
    margin-top: var(--space-12);
  }

  strong,
  b {
    font-weight: var(--font-weight-semibold);
  }

  em,
  i {
    font-style: italic;
  }

  ul,
  ol {
    padding-left: 1.5em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    &::marker,
    &::before {
      display: none;
    }
  }

  li + li {
    margin-top: var(--space-8);
  }

  a {
    color: var(--color-primary-normal);
    text-decoration: underline;
    &:hover {
      color: var(--color-primary-normal);
    }
  }

  table {
    table-layout: auto;
    border-collapse: collapse;
    border-top: 1px solid var(--grid-table-border-color);
    border-bottom: 1px solid var(--grid-table-border-color);
  }

  tr {
    min-height: 56px;
    border-bottom: 1px solid var(--grid-table-border-color);

    &:last-child {
      border-bottom: 0;
    }
  }

  th,
  td {
    width: auto;
    padding: var(--space-16) var(--space-12) var(--space-16) var(--space-16);
    border: 1px solid var(--grid-table-border-color);
    word-wrap: break-word;
    vertical-align: middle;
    text-align: left;
  }

  th {
    @include typo('body-b1');
    white-space: nowrap;
    background-color: var(--grid-table-header-stripe-bg);
    color: var(--color-font-sub-1);
  }

  td {
    @include typo('body-b1');
    background-color: var(--grid-table-row-bg-stripe);
    color: var(--color-font-sub-1);
  }
}

a.cm-editor-content {
  color: var(--color-font-main);
  text-decoration: underline;
  cursor: pointer;
}
