.cm-icon {
  display: inline-block;
  flex: none;
  width: var(--cm-icon-size);
  height: var(--cm-icon-size);
  &--ico {
    background-color: var(--cm-icon-color);
    mask-image: var(--cm-icon-src);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    color: var(--color-icon-blue-gray-4);
  }
}
