@use '../variables/typography' as *;
@use '../mixins/breakpoint' as *;

:root {
  --popup-backdrop: var(--color-bg-opacity-black-30);
  --popup-bg-color: var(--color-bg-normal-white);
  --popup-box-radius: 16px;
  --popup-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08), 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
}

@mixin popup-instance {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: var(--z-index-popup);
}

@mixin popup-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--popup-backdrop);
}

@mixin popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  background-color: var(--popup-bg-color);
  border-radius: var(--popup-box-radius);
  box-shadow: var(--popup-box-shadow);
}

/* Modal */
.modal {
  &-container {
    --modal-padding: var(--space-24);
    --modal-gap: var(--space-20);
    --modal-header-height: 84px;
    --modal-body-max-height: 680px;
    --modal-footer-gap: var(--space-16);
    --modal-footer-pt: 64px;
    --modal-button-single-width: 208px;

    --modal-width-xs: 320px;
    --modal-width-sm: 460px;
    --modal-width-md: 640px;
    --modal-width-lg: 900px;
    --modal-width-xl: 1000px;
  }

  &-instance {
    @include popup-instance;

    &__backdrop {
      @include popup-backdrop;
    }

    &__box {
      @include popup-box;
      container-name: modal-instance;
      container-type: inline-size;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      max-height: 90%;

      &--xs {
        border-radius: 8px;
      }
    }

    &__header {
      @include typo('headline-h6');
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: none;
      height: var(--modal-header-height);
      padding: var(--modal-padding) var(--modal-padding) var(--modal-gap);
      color: var(--color-font-sub-1);

      .form-toggle {
        height: auto;
      }
      &__btn {
        display: none;
      }
    }

    &__sub-header {
      @include typo('body-b3');
      flex: none;
      padding: 0 var(--modal-padding) var(--modal-gap);
      color: var(--color-font-sub-1);

      p {
        @include typo('title-t5', var(--font-weight-regular));
      }
    }

    &__divider {
      flex: none;
      margin: 0 var(--modal-padding);
      border-top: 1px solid var(--color-line-regular);
    }

    &__body {
      flex: 1;
      overflow-y: auto;
      max-height: var(--modal-body-max-height);
      padding: var(--modal-gap) var(--modal-padding) 0;

      .v-textfield__label {
        font-weight: var(--font-weight-regular);
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
      gap: var(--modal-footer-gap);
      padding: var(--modal-footer-pt) var(--modal-padding) var(--modal-padding);

      > .cm-button:only-child {
        width: var(--modal-button-single-width);
      }
    }
    @include respond-down('mobile') {
      &.is-full {
        .modal {
          &-container {
            // --modal-padding: var(--space-20);
            --modal-header-height: auto;
          }

          &-instance {
            &__box {
              width: 100% !important;
              height: 100dvh;
              max-width: 100%;
              max-height: 100%;
              border-radius: 0;
            }
            &__header {
              flex-wrap: wrap;
              gap: var(--space-12);

              &:has(.form-toggle) {
                flex-direction: column;
                align-items: flex-start;
                > div {
                  flex: 1;
                  width: 100%;
                  justify-content: space-between;
                }
              }
              &__btn {
                display: inline-block;
                color: var(--color-icon-regular);
              }
            }
            &__divider {
              display: none;
            }

            &__body {
              padding: 0;
              max-height: 100%;
              .form {
                padding: 0 var(--space-20);
              }
            }

            &__footer {
              padding: var(--space-24) var(--space-24);

              .cm-button {
                &.cm-button--outline {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  @include respond-down('tablet') {
    &-container {
      --modal-padding: var(--space-20);
      --modal-header-height: auto;
    }

    &-instance {
      &__header {
        flex-wrap: wrap;
        gap: var(--space-12);

        &:has(.form-toggle) {
          flex-direction: column;
          align-items: flex-start;
          > div {
            flex: 1;
            width: 100%;
            justify-content: space-between;
          }
        }
      }

      &__body {
        padding: var(--modal-padding) var(--space-24) 0;
      }

      &__footer {
        padding: var(--modal-footer-pt) var(--space-24) var(--space-24);

        .cm-button {
          flex: 1;
          width: 100%;
        }
      }
    }
  }

}

/* Dialog */
.dialog {
  &-container {
    --dialog-padding: var(--space-16);
    --dialog-width: 400px;
    --dialog-body-pt: var(--space-40);
    --dialog-body-padding-x: var(--space-20);
    --dialog-text-gap: var(--space-8);
    --dialog-footer-pt: var(--space-36);
    --dialog-footer-gap: var(--space-12);
  }

  &-instance {
    @include popup-instance;

    &__backdrop {
      @include popup-backdrop;
    }

    &__box {
      @include popup-box;
      width: var(--dialog-width);
      padding: var(--dialog-padding);
    }

    &__body {
      @include typo('body-b1', var(--font-weight-semibold));
      padding: var(--dialog-body-pt) var(--dialog-body-padding-x) 0;
      color: var(--color-font-main);
      text-align: center;
      white-space: pre-line;
    }

    &__additional {
      @include typo('body-b2');
      margin-top: var(--dialog-text-gap);
      color: var(--color-font-sub-1);

      &:empty {
        display: none;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--dialog-footer-gap);
      padding-top: var(--dialog-footer-pt);
    }
  }
}

@container modal-instance (max-width: 400px) {
  .modal-instance__footer {
    &:has(.v-selector) {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      flex-direction: column-reverse;

      .cm-button {
        flex: none ;
        width: 100%;
      }
    }
  }

}