.cm-swipe-bottomsheet {
  --sbs-offsetTop: calc(100dvh - 50px);
  position: fixed;
  top: var(--sbs-offsetTop);
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color-bg-normal-white);
  border-radius: 12px 12px 0 0;
  box-shadow: 0px 2px 12px 0px var(--color-bg-opacity-black-20);
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: top;

  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-index-swiper);
    overscroll-behavior: none;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-8) 0 var(--space-20);
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      width: 32px;
      height: 4px;
      border-radius: 99px;
      background-color: var(--color-line-regular);
    }
  }

  &__content {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    gap: var(--space-20);
  }
}
