@use '../variables/typography' as *;

.cm-toggle {
  --toggle-track-bg: var(--color-bg-normal-disabled);
  --toggle-thumb-bg: var(--color-bg-normal-white);
  --toggle-thumb-bg-disabled: var(--color-state-disabled);

  display: inline-flex;
  width: 44px;
  height: 24px;
  padding: var(--space-2);
  background-color: var(--toggle-track-bg);
  border-radius: 100px;

  &__button {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--toggle-thumb-bg);
    border-radius: 100%;
  }

  &.is-active {
    .cm-toggle__button {
      transform: translateX(20px);
    }

    &:not(:disabled) {
      background-color: var(--color-primary-normal);
    }
  }

  &:disabled {
    .cm-toggle__button {
      background-color: var(--toggle-thumb-bg-disabled);
    }
  }

  &--inline {
    position: relative;
    width: 54px;

    &::before {
      @include typo-old('caption-c2', var(--font-weight-semibold));
      content: 'OFF';
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      color: var(--color-font-sub-2);
    }

    &.is-active {
      .cm-toggle__button {
        transform: translateX(30px);
      }
      &::before {
        content: 'ON';
        right: unset;
        left: 8px;
      }
      &:not(:disabled) {
        &::before {
          color: var(--color-font-white);
        }
      }
    }
  }
}

.form-toggle {
  display: flex;
  align-items: center;
  gap: var(--space-10);
  height: 44px;

  label {
    @include typo-old('body-b3');
    color: var(--color-font-main);
  }

  &.is-disabled {
    label {
      color: var(--color-font-disabled-b);
    }
  }

  &--box {
    padding: var(--space-10);
    background-color: var(--color-bg-normal-white);
    border: 1px solid var(--color-line-regular);
    border-radius: 8px;

    &.is-active:not(.is-disabled) {
      border-color: var(--color-primary-normal);
    }
  }
}
