/* TODO: 공통 스타일 작업 완료 후 해당 OLD 코드 삭제 필요 */
// =============================== OLD START =============================== //

/* -----------------------------------------------------------------------------
    Layer 1 (직접 참조 금지)
----------------------------------------------------------------------------- */
:root {
  /* Gray */
  --color-gray-0: #000000;
  --color-gray-4: #0f0f0f;
  --color-gray-7: #111111;
  --color-gray-11: #171717;
  --color-gray-14: #1c1c1c;
  --color-gray-18: #222222;
  --color-gray-21: #2a2a2a;
  --color-gray-25: #2a2a37;
  --color-gray-28: #303030;
  --color-gray-32: #474747;
  --color-gray-36: #484858;
  --color-gray-39: #505050;
  --color-gray-43: #545461;
  --color-gray-46: #5c5c5c;
  --color-gray-50: #737373;
  --color-gray-54: #767676;
  --color-gray-57: #81818d;
  --color-gray-61: #8a8a8a;
  --color-gray-64: #999999;
  --color-gray-68: #9b9b9b;
  --color-gray-71: #a5a5af;
  --color-gray-75: #b0b0b0;
  --color-gray-79: #c4c4c4;
  --color-gray-82: #dcdcdc;
  --color-gray-86: #e5e5ec;
  --color-gray-89: #f1f1f5;
  --color-gray-93: #f7f7f7;
  --color-gray-96: #f7f7fb;
  --color-gray-100: #ffffff;

  /* Red */
  --color-red-10: #3b0101;
  --color-red-20: #730303;
  --color-red-30: #b00c0c;
  --color-red-40: #e52222;
  --color-red-50: #ff4242;
  --color-red-60: #ff6363;
  --color-red-70: #ff8c8c;
  --color-red-80: #ffb5b5;
  --color-red-90: #fed5d5;
  --color-red-95: #feecec;
  --color-red-99: #fffafa;

  /* Red Orange */
  --color-red-orange-10: #290f00;
  --color-red-orange-20: #592100;
  --color-red-orange-30: #913500;
  --color-red-orange-40: #c94a00;
  --color-red-orange-50: #ff5a00;
  --color-red-orange-55: #ff9200;
  --color-red-orange-60: #ff7b2e;
  --color-red-orange-70: #ff9b61;
  --color-red-orange-80: #ffbd96;
  --color-red-orange-90: #fed9c4;
  --color-red-orange-95: #feeee5;
  --color-red-orange-99: #fffaf7;

  /* Blue */
  --color-blue-10: #001536;
  --color-blue-20: #002966;
  --color-blue-30: #003e9c;
  --color-blue-40: #0054d1;
  --color-blue-45: #005eeb;
  --color-blue-50: #0066ff;
  --color-blue-55: #1a75ff;
  --color-blue-60: #3385ff;
  --color-blue-65: #4f95ff;
  --color-blue-70: #69a5ff;
  --color-blue-80: #9ec5ff;
  --color-blue-90: #c9defe;
  --color-blue-95: #eaf2fe;
  --color-blue-99: #f7fbff;

  /* Green */
  --color-green-10: #00240c;
  --color-green-20: #004517;
  --color-green-30: #006e25;
  --color-green-40: #009632;
  --color-green-50: #00bf40;
  --color-green-60: #1ed45a;
  --color-green-70: #49e57d;
  --color-green-80: #7df5a5;
  --color-green-90: #acfcc7;
  --color-green-95: #d9ffe6;
  --color-green-97: #ebf5e9;
  --color-green-99: var(--color-gray-100);

  /* Opacity */
  --color-opacity-white-12: #ffffff1f;
  --color-opacity-white-20: #ffffff33;
  --color-opacity-white-30: #ffffff4d;
  --color-opacity-white-50: #ffffff80;
  --color-opacity-white-60: #ffffff99;
  --color-opacity-white-92: #ffffffeb;

  --color-opacity-black-6: #1111180f;
  --color-opacity-black-20: #11111833;
  --color-opacity-black-30: #1111184d;
  --color-opacity-black-50: #11111880;
  --color-opacity-black-60: #11111899;
  --color-opacity-black-85: #111111eb;

  /* Brand */
  --color-brand-magenta: #ff2e98;
}

/* -----------------------------------------------------------------------------
    Layer 2
----------------------------------------------------------------------------- */
:root {
  --color-primary-normal: var(--color-brand-magenta);
  --color-primary-default: var(--color-blue-50);
  /* Font */
  --color-font-main: var(--color-gray-7);
  --color-font-sub-1: var(--color-gray-39);
  --color-font-sub-2: var(--color-gray-54);
  --color-font-disabled-w: var(--color-gray-96);
  --color-font-disabled-b: var(--color-gray-64);
  --color-font-white: var(--color-gray-100);

  /* Line */
  --color-line-light: var(--color-gray-89);
  --color-line-regular: var(--color-gray-86);
  --color-line-black: var(--color-gray-7);
  --color-line-disabled: var(--color-gray-96);

  /* Black / Disabled */
  --color-state-black: var(--color-gray-25);
  --color-state-disabled: var(--color-gray-71);

  /* Icon */
  --color-icon-black: var(--color-gray-25);
  --color-icon-regular: var(--color-gray-36);
  --color-icon-light: var(--color-gray-57);
  --color-icon-white: var(--color-gray-100);
  --color-icon-disabled: var(--color-gray-71);

  /* Background Normal */
  --color-bg-normal-black: var(--color-gray-25);
  --color-bg-normal-regular: var(--color-gray-96);
  --color-bg-normal-light: var(--color-gray-96);
  --color-bg-normal-white: var(--color-gray-100);
  --color-bg-normal-disabled: var(--color-gray-89);
  --color-bg-normal-disabled-dark: var(--color-gray-86);

  /* Background Opacity */
  --color-bg-opacity-white-12: var(--color-opacity-white-12);
  --color-bg-opacity-white-20: var(--color-opacity-white-20);
  --color-bg-opacity-white-30: var(--color-opacity-white-30);
  --color-bg-opacity-white-50: var(--color-opacity-white-50);
  --color-bg-opacity-white-60: var(--color-opacity-white-60);
  --color-bg-opacity-white-92: var(--color-opacity-white-92);
  --color-bg-opacity-black-6: var(--color-opacity-black-6);
  --color-bg-opacity-black-20: var(--color-opacity-black-20);
  --color-bg-opacity-black-30: var(--color-opacity-black-30);
  --color-bg-opacity-black-50: var(--color-opacity-black-50);
  --color-bg-opacity-black-60: var(--color-opacity-black-60);
  --color-bg-opacity-black-85: var(--color-opacity-black-85);

  /* Status */
  --color-status-informative: var(--color-blue-50);
  --color-status-positive: var(--color-green-50);
  --color-status-delay: var(--color-red-orange-55);
  --color-status-warning: var(--color-red-50);
  --color-status-offline: var(--color-gray-64);

  /* Badge — text */
  --color-badge-text-blue: var(--color-blue-50);
  --color-badge-text-red: var(--color-red-50);
  --color-badge-text-red-orange: var(--color-red-orange-50);
  --color-badge-text-green: var(--color-green-50);
  --color-badge-text-gray: var(--color-gray-54);
  --color-badge-text-disabled: var(--color-gray-64);

  /* Badge — line */
  --color-badge-line-blue: var(--color-blue-80);
  --color-badge-line-red: var(--color-red-80);
  --color-badge-line-red-orange: var(--color-red-orange-80);
  --color-badge-line-green: var(--color-green-80);
  --color-badge-line-gray: var(--color-gray-89);
  --color-badge-line-disabled: var(--color-gray-75);

  /* Badge — background */
  --color-badge-bg-blue: var(--color-blue-95);
  --color-badge-bg-red: var(--color-red-95);
  --color-badge-bg-red-orange: var(--color-red-orange-95);
  --color-badge-bg-green: var(--color-green-95);
  --color-badge-bg-gray: var(--color-gray-96);
  --color-badge-bg-disabled: var(--color-gray-82);
}
// =============================== OLD END =============================== //

/* -----------------------------------------------------------------------------
    Layer 1 (직접 참조 금지)
----------------------------------------------------------------------------- */
:root {
  /* Neutral */
  --color-neutral-10: #fcfcfc;
  --color-neutral-50: #f2f2f2;
  --color-neutral-100: #ebebeb;
  --color-neutral-200: #e0e0e0;
  --color-neutral-300: #bdbdbd;
  --color-neutral-400: #a8a8a8;
  --color-neutral-500: #969696;
  --color-neutral-600: #747474;
  --color-neutral-700: #696969;
  --color-neutral-800: #474747;
  --color-neutral-900: #1a1a1a;

  /* Blue Gray */
  --color-blue-gray-10: #fcfcfd;
  --color-blue-gray-50: #f9fafb;
  --color-blue-gray-100: #f3f5f6;
  --color-blue-gray-200: #e7ebee;
  --color-blue-gray-300: #dce0e5;
  --color-blue-gray-400: #a8b3bd;
  --color-blue-gray-500: #7f8a94;
  --color-blue-gray-600: #66707a;
  --color-blue-gray-700: #525960;
  --color-blue-gray-800: #3b4044;
  --color-blue-gray-900: #181a1b;

  /* Violet */
  --color-violet-10: #f8f5ff;
  --color-violet-50: #efe7fe;
  --color-violet-100: #e4d7fe;
  --color-violet-200: #ccb4fd;
  --color-violet-300: #af89fa;
  --color-violet-400: #9e70fa;
  --color-violet-500: #8b54f7;
  --color-violet-600: #6d35dd;
  --color-violet-700: #5323aa;
  --color-violet-800: #401590;
  --color-violet-900: #371870;

  /* Pink */
  --color-pink-10: #fff4ff;
  --color-pink-50: #ffe7fe;
  --color-pink-100: #feb1fa;
  --color-pink-200: #ff8cf4;
  --color-pink-300: #fa67f3;
  --color-pink-400: #fe4af6;
  --color-pink-500: #ff19f5;
  --color-pink-600: #bf13b8;
  --color-pink-700: #a00999;
  --color-pink-800: #800d78;
  --color-pink-900: #61035b;

  /* Red */
  --color-red-10: #fef6f6;
  --color-red-50: #fbdcda;
  --color-red-100: #f8c6c3;
  --color-red-200: #f39591;
  --color-red-300: #ed615a;
  --color-red-400: #e93d35;
  --color-red-500: #e22a21;
  --color-red-600: #ba231c;
  --color-red-700: #8c1c17;
  --color-red-800: #671714;
  --color-red-900: #4d120f;

  /* Orange */
  --color-orange-10: #fff9f5;
  --color-orange-50: #ffe7d6;
  --color-orange-100: #ffd3b3;
  --color-orange-200: #ffbb8a;
  --color-orange-300: #ff9d57;
  --color-orange-400: #ff8024;
  --color-orange-500: #f86800;
  --color-orange-600: #e05e00;
  --color-orange-700: #b04a00;
  --color-orange-800: #8f3c00;
  --color-orange-900: #662b00;

  /* Yellow */
  --color-yellow-10: #fffdf5;
  --color-yellow-50: #fffae0;
  --color-yellow-100: #fff6c2;
  --color-yellow-200: #fff1a3;
  --color-yellow-300: #ffe970;
  --color-yellow-400: #ffdf33;
  --color-yellow-500: #ffd600;
  --color-yellow-600: #f0cb00;
  --color-yellow-700: #e0be00;
  --color-yellow-800: #d1b100;
  --color-yellow-900: #b89b00;

  /* Green */
  --color-green-10: #f6fef6;
  --color-green-50: #dffbdf;
  --color-green-100: #acf6ad;
  --color-green-200: #6af66c;
  --color-green-300: #3ae93c;
  --color-green-400: #00cc02;
  --color-green-500: #00aa02;
  --color-green-600: #008502;
  --color-green-700: #006601;
  --color-green-800: #004d01;
  --color-green-900: #003301;

  /* Blue */
  --color-blue-10: #f5fbff;
  --color-blue-50: #e6f4fe;
  --color-blue-100: #c3e4fe;
  --color-blue-200: #8accff;
  --color-blue-300: #70c1ff;
  --color-blue-400: #3dabff;
  --color-blue-500: #0a95ff;
  --color-blue-600: #007cdb;
  --color-blue-700: #0065b2;
  --color-blue-800: #004b85;
  --color-blue-900: #003761;

  --color-white: #ffffff;
}

/* -----------------------------------------------------------------------------
    Layer 2
----------------------------------------------------------------------------- */
:root {
  /* Background */
  --color-frame-neutral-0: var(--color-white);
  --color-frame-neutral-1: var(--color-neutral-50);
  --color-frame-neutral-2: var(--color-neutral-100);
  --color-frame-neutral-3: var(--color-neutral-200);
  --color-container-primary-light: var(--color-violet-10);
  --color-container-primary-medium: var(--color-violet-50);
  --color-container-primary: var(--color-violet-600);
  --color-container-secondary-light: var(--color-pink-10);
  --color-container-secondary-medium: var(--color-pink-50);
  --color-container-secondary: var(--color-pink-400);
  --color-container-neutral-0: var(--color-white);
  --color-container-neutral-1: var(--color-neutral-10);
  --color-container-neutral-2: var(--color-neutral-50);
  --color-container-neutral-3: var(--color-neutral-200);
  --color-container-neutral-4: var(--color-neutral-300);
  --color-container-neutral-5: var(--color-neutral-500);
  --color-container-neutral-6: var(--color-neutral-900);
  --color-container-status-success-light: var(--color-green-50);
  --color-container-status-success: var(--color-green-500);
  --color-container-status-warning-light: var(--color-yellow-50);
  --color-container-status-warning: var(--color-yellow-700);
  --color-container-status-error-light: var(--color-red-50);
  --color-container-status-error: var(--color-red-500);
  --color-container-status-info-light: var(--color-blue-50);
  --color-container-status-info: var(--color-blue-500);

  /* Text */
  --color-text-on-primary: var(--color-white);
  --color-text-primary: var(--color-violet-600);
  --color-text-primary-dark: var(--color-violet-700);
  --color-text-on-secondary: var(--color-white);
  --color-text-secondary: var(--color-pink-400);
  --color-text-secondary-dark: var(--color-pink-700);
  --color-text-on-neutral: var(--color-white);
  --color-text-neutral-1: var(--color-neutral-300);
  --color-text-neutral-2: var(--color-neutral-400);
  --color-text-neutral-3: var(--color-neutral-600);
  --color-text-neutral-4: var(--color-neutral-700);
  --color-text-neutral-5: var(--color-neutral-900);
  --color-text-status-success: var(--color-green-500);
  --color-text-status-warning: var(--color-yellow-700);
  --color-text-status-error: var(--color-red-500);
  --color-text-status-info: var(--color-blue-500);
  --color-text-status-info-dark: var(--color-blue-700);

  /* Border */
  --color-border-on-primary: var(--color-white);
  --color-border-primary-light: var(--color-violet-100);
  --color-border-primary: var(--color-violet-600);
  --color-border-on-secondary: var(--color-white);
  --color-border-secondary-light: var(--color-pink-100);
  --color-border-secondary: var(--color-pink-400);
  --color-border-on-neutral: var(--color-white);
  --color-border-neutral-1: var(--color-neutral-50);
  --color-border-neutral-2: var(--color-neutral-100);
  --color-border-neutral-3: var(--color-neutral-200);
  --color-border-neutral-4: var(--color-neutral-300);
  --color-border-neutral-5: var(--color-neutral-500);
  --color-border-neutral-6: var(--color-neutral-900);
  --color-border-status-success-light: var(--color-green-100);
  --color-border-status-success: var(--color-green-500);
  --color-border-status-warning-light: var(--color-yellow-100);
  --color-border-status-warning: var(--color-yellow-700);
  --color-border-status-error-light: var(--color-red-100);
  --color-border-status-error: var(--color-red-500);
  --color-border-status-info-light: var(--color-blue-100);
  --color-border-status-info: var(--color-blue-500);

  /* Icon */
  --color-icon-on-primary: var(--color-white);
  --color-icon-primary: var(--color-violet-600);
  --color-icon-on-secondary: var(--color-white);
  --color-icon-secondary: var(--color-pink-400);
  --color-icon-on-neutral: var(--color-white);
  --color-icon-blue-gray-1: var(--color-blue-gray-200);
  --color-icon-blue-gray-2: var(--color-blue-gray-300);
  --color-icon-blue-gray-3: var(--color-blue-gray-400);
  --color-icon-blue-gray-4: var(--color-blue-gray-500);
  --color-icon-blue-gray-5: var(--color-blue-gray-900);
  --color-icon-status-success: var(--color-green-500);
  --color-icon-status-warning: var(--color-yellow-700);
  --color-icon-status-error: var(--color-red-500);
  --color-icon-status-info: var(--color-blue-500);

  /* Custom */
  --color-custom-icon-1: var(--color-yellow-500);

  /* State Layer ================================ */
  /* Neutral — Hover */
  --state-layer-hover-0: rgba(255, 255, 255, 0.06);
  --state-layer-hover-99: rgba(0, 0, 0, 0.06);

  /* Neutral — Focus */
  --state-layer-focus-0: rgba(255, 255, 255, 0.06);
  --state-layer-focus-99: rgba(0, 0, 0, 0.06);

  /* Neutral — Pressed */
  --state-layer-pressed-0: rgba(255, 255, 255, 0.12);
  --state-layer-pressed-99: rgba(0, 0, 0, 0.12);

  /* Primary (Violet 600) */
  --state-layer-hover-primary: rgba(109, 53, 221, 0.06);
  --state-layer-pressed-primary: rgba(109, 53, 221, 0.36);
  --state-layer-selected-primary: rgba(109, 53, 221, 0.12);

  /* Secondary (Pink 400) */
  --state-layer-hover-secondary: rgba(254, 74, 246, 0.06);
  --state-layer-pressed-secondary: rgba(254, 74, 246, 0.36);
  --state-layer-selected-secondary: rgba(254, 74, 246, 0.12);

  /* Disabled */
  --state-layer-disabled-0: rgba(255, 255, 255, 0.6);

  /* Dimmed */
  --state-layer-dimmed-normal: rgba(0, 0, 0, 0.42);

  /* Text Opacity */
  --state-text-opacity-disabled: 0.4;

  /* ETC */
  --color-scrollbar-thumb: var(--color-container-neutral-3);
}
