  /* TODO: 공통 스타일 작업 완료 후 해당 OLD 코드 삭제 필요 */
// =============================== OLD START =============================== //

/* -----------------------------------------------------------------------------
    Layer 1 (직접 참조 금지)
----------------------------------------------------------------------------- */
:root {
  /* Gray */
  --color-gray-0: #000000;
  --color-gray-4: #0f0f0f;
  --color-gray-7: #111111;
  --color-gray-11: #171717;
  --color-gray-14: #1c1c1c;
  --color-gray-18: #222222;
  --color-gray-21: #2a2a2a;
  --color-gray-25: #2a2a37;
  --color-gray-28: #303030;
  --color-gray-32: #474747;
  --color-gray-36: #484858;
  --color-gray-39: #505050;
  --color-gray-43: #545461;
  --color-gray-46: #5c5c5c;
  --color-gray-50: #737373;
  --color-gray-54: #767676;
  --color-gray-57: #81818d;
  --color-gray-61: #8a8a8a;
  --color-gray-64: #999999;
  --color-gray-68: #9b9b9b;
  --color-gray-71: #a5a5af;
  --color-gray-75: #b0b0b0;
  --color-gray-79: #c4c4c4;
  --color-gray-82: #dcdcdc;
  --color-gray-86: #e5e5ec;
  --color-gray-89: #f1f1f5;
  --color-gray-93: #f7f7f7;
  --color-gray-96: #f7f7fb;
  --color-gray-100: #ffffff;

  /* Red */
  --color-red-10: #3b0101;
  --color-red-20: #730303;
  --color-red-30: #b00c0c;
  --color-red-40: #e52222;
  --color-red-50: #ff4242;
  --color-red-60: #ff6363;
  --color-red-70: #ff8c8c;
  --color-red-80: #ffb5b5;
  --color-red-90: #fed5d5;
  --color-red-95: #feecec;
  --color-red-99: #fffafa;

  /* Red Orange */
  --color-red-orange-10: #290f00;
  --color-red-orange-20: #592100;
  --color-red-orange-30: #913500;
  --color-red-orange-40: #c94a00;
  --color-red-orange-50: #ff5a00;
  --color-red-orange-55: #ff9200;
  --color-red-orange-60: #ff7b2e;
  --color-red-orange-70: #ff9b61;
  --color-red-orange-80: #ffbd96;
  --color-red-orange-90: #fed9c4;
  --color-red-orange-95: #feeee5;
  --color-red-orange-99: #fffaf7;

  /* Blue */
  --color-blue-10: #001536;
  --color-blue-20: #002966;
  --color-blue-30: #003e9c;
  --color-blue-40: #0054d1;
  --color-blue-45: #005eeb;
  --color-blue-50: #0066ff;
  --color-blue-55: #1a75ff;
  --color-blue-60: #3385ff;
  --color-blue-65: #4f95ff;
  --color-blue-70: #69a5ff;
  --color-blue-80: #9ec5ff;
  --color-blue-90: #c9defe;
  --color-blue-95: #eaf2fe;
  --color-blue-99: #f7fbff;

  /* Green */
  --color-green-10: #00240c;
  --color-green-20: #004517;
  --color-green-30: #006e25;
  --color-green-40: #009632;
  --color-green-50: #00bf40;
  --color-green-60: #1ed45a;
  --color-green-70: #49e57d;
  --color-green-80: #7df5a5;
  --color-green-90: #acfcc7;
  --color-green-95: #d9ffe6;
  --color-green-97: #ebf5e9;
  --color-green-99: var(--color-gray-100);

  /* Opacity */
  --color-opacity-white-12: #ffffff1f;
  --color-opacity-white-20: #ffffff33;
  --color-opacity-white-30: #ffffff4d;
  --color-opacity-white-50: #ffffff80;
  --color-opacity-white-60: #ffffff99;
  --color-opacity-white-92: #ffffffeb;

  --color-opacity-black-6: #1111180f;
  --color-opacity-black-20: #11111833;
  --color-opacity-black-30: #1111184d;
  --color-opacity-black-50: #11111880;
  --color-opacity-black-60: #11111899;
  --color-opacity-black-85: #111111eb;

  /* Brand */
  --color-brand-magenta: #ff2e98;
}

/* -----------------------------------------------------------------------------
    Layer 2
----------------------------------------------------------------------------- */
:root {
  --color-primary-normal: var(--color-brand-magenta);
  --color-primary-default: var(--color-blue-50);
  /* Font */
  --color-font-main: var(--color-gray-7);
  --color-font-sub-1: var(--color-gray-39);
  --color-font-sub-2: var(--color-gray-54);
  --color-font-disabled-w: var(--color-gray-96);
  --color-font-disabled-b: var(--color-gray-64);
  --color-font-white: var(--color-gray-100);

  /* Line */
  --color-line-light: var(--color-gray-89);
  --color-line-regular: var(--color-gray-86);
  --color-line-black: var(--color-gray-7);
  --color-line-disabled: var(--color-gray-96);

  /* Black / Disabled */
  --color-state-black: var(--color-gray-25);
  --color-state-disabled: var(--color-gray-71);

  /* Icon */
  --color-icon-black: var(--color-gray-25);
  --color-icon-regular: var(--color-gray-36);
  --color-icon-light: var(--color-gray-57);
  --color-icon-white: var(--color-gray-100);
  --color-icon-disabled: var(--color-gray-71);

  /* Background Normal */
  --color-bg-normal-black: var(--color-gray-25);
  --color-bg-normal-regular: var(--color-gray-96);
  --color-bg-normal-light: var(--color-gray-96);
  --color-bg-normal-white: var(--color-gray-100);
  --color-bg-normal-disabled: var(--color-gray-89);
  --color-bg-normal-disabled-dark: var(--color-gray-86);

  /* Background Opacity */
  --color-bg-opacity-white-12: var(--color-opacity-white-12);
  --color-bg-opacity-white-20: var(--color-opacity-white-20);
  --color-bg-opacity-white-30: var(--color-opacity-white-30);
  --color-bg-opacity-white-50: var(--color-opacity-white-50);
  --color-bg-opacity-white-60: var(--color-opacity-white-60);
  --color-bg-opacity-white-92: var(--color-opacity-white-92);
  --color-bg-opacity-black-6: var(--color-opacity-black-6);
  --color-bg-opacity-black-20: var(--color-opacity-black-20);
  --color-bg-opacity-black-30: var(--color-opacity-black-30);
  --color-bg-opacity-black-50: var(--color-opacity-black-50);
  --color-bg-opacity-black-60: var(--color-opacity-black-60);
  --color-bg-opacity-black-85: var(--color-opacity-black-85);

  /* Status */
  --color-status-informative: var(--color-blue-50);
  --color-status-positive: var(--color-green-50);
  --color-status-delay: var(--color-red-orange-55);
  --color-status-warning: var(--color-red-50);
  --color-status-offline: var(--color-gray-64);

  /* Badge — text */
  --color-badge-text-blue: var(--color-blue-50);
  --color-badge-text-red: var(--color-red-50);
  --color-badge-text-red-orange: var(--color-red-orange-50);
  --color-badge-text-green: var(--color-green-50);
  --color-badge-text-gray: var(--color-gray-54);
  --color-badge-text-disabled: var(--color-gray-64);

  /* Badge — line */
  --color-badge-line-blue: var(--color-blue-80);
  --color-badge-line-red: var(--color-red-80);
  --color-badge-line-red-orange: var(--color-red-orange-80);
  --color-badge-line-green: var(--color-green-80);
  --color-badge-line-gray: var(--color-gray-89);
  --color-badge-line-disabled: var(--color-gray-75);

  /* Badge — background */
  --color-badge-bg-blue: var(--color-blue-95);
  --color-badge-bg-red: var(--color-red-95);
  --color-badge-bg-red-orange: var(--color-red-orange-95);
  --color-badge-bg-green: var(--color-green-95);
  --color-badge-bg-gray: var(--color-gray-96);
  --color-badge-bg-disabled: var(--color-gray-82);

  --color-scrollbar-thumb: var(--color-gray-57);
}

:root[data-theme='dark'] {
  /* Primary */
  --color-primary-normal: var(--color-brand-magenta);
  --color-primary-default: var(--color-blue-55);

  /* Font */
  --color-font-main: var(--color-gray-100);
  --color-font-sub-1: var(--color-gray-89);
  --color-font-sub-2: var(--color-gray-71);
  --color-font-disabled-w: var(--color-gray-54);
  --color-font-disabled-b: var(--color-gray-54);
  --color-font-white: var(--color-gray-0);

  /* Line */
  --color-line-light: var(--color-gray-39);
  --color-line-regular: var(--color-gray-54);
  --color-line-black: var(--color-gray-100);
  --color-line-disabled: var(--color-gray-36);

  /* Black / Disabled */
  --color-state-black: var(--color-gray-100);
  --color-state-disabled: var(--color-gray-100);

  /* Icon */
  --color-icon-black: var(--color-gray-100);
  --color-icon-regular: var(--color-gray-100);
  --color-icon-light: var(--color-gray-100);
  --color-icon-white: var(--color-gray-0);
  --color-icon-disabled: var(--color-gray-100);

  /* Background Normal */
  --color-bg-normal-black: var(--color-gray-71);
  --color-bg-normal-regular: var(--color-gray-7);
  --color-bg-normal-light: var(--color-gray-25);
  --color-bg-normal-white: var(--color-gray-0);
  --color-bg-normal-disabled: var(--color-gray-18);
  --color-bg-normal-disabled-dark: var(--color-gray-7);

  /* Background Opacity */
  --color-bg-opacity-white-12: var(--color-opacity-black-6);
  --color-bg-opacity-white-20: var(--color-opacity-black-20);
  --color-bg-opacity-white-30: var(--color-opacity-black-30);
  --color-bg-opacity-white-50: var(--color-opacity-black-50);
  --color-bg-opacity-white-60: var(--color-opacity-black-60);
  --color-bg-opacity-white-92: var(--color-opacity-black-85);
  --color-bg-opacity-black-6: var(--color-opacity-white-12);
  --color-bg-opacity-black-20: var(--color-opacity-white-20);
  --color-bg-opacity-black-30: var(--color-opacity-white-30);
  --color-bg-opacity-black-50: var(--color-opacity-white-50);
  --color-bg-opacity-black-60: var(--color-opacity-white-60);
  --color-bg-opacity-black-85: var(--color-opacity-white-92);

  /* Status */
  --color-status-informative: var(--color-blue-60);
  --color-status-positive: var(--color-green-60);
  --color-status-delay: var(--color-red-orange-60);
  --color-status-warning: var(--color-red-50);

  /* Badge — text */
  --color-badge-text-blue: var(--color-blue-70);
  --color-badge-text-red: var(--color-red-60);
  --color-badge-text-red-orange: var(--color-red-orange-60);
  --color-badge-text-green: var(--color-green-60);
  --color-badge-text-gray: var(--color-gray-0);
  --color-badge-text-disabled: var(--color-gray-54);

  /* Badge — line */
  --color-badge-line-blue: var(--color-blue-30);
  --color-badge-line-red: var(--color-red-20);
  --color-badge-line-red-orange: var(--color-red-orange-20);
  --color-badge-line-green: var(--color-green-20);
  --color-badge-line-gray: var(--color-gray-25);
  --color-badge-line-disabled: var(--color-gray-21);

  /* Badge — background */
  --color-badge-bg-blue: var(--color-blue-10);
  --color-badge-bg-red: var(--color-red-10);
  --color-badge-bg-red-orange: var(--color-red-orange-10);
  --color-badge-bg-green: var(--color-green-10);
  --color-badge-bg-gray: var(--color-gray-7);
  --color-badge-bg-disabled: var(--color-gray-11);
}

:root[data-brand='blue'] {
  --color-primary-normal: var(--color-blue-50);
  --color-primary-default: var(--color-brand-magenta);
}

:root[data-brand='custom'] {
  --color-primary-normal: var(--color-custom-primary);
  --color-primary-default: var(--color-custom-primary);
}
// =============================== OLD END =============================== //



/* -----------------------------------------------------------------------------
    Layer 1 (직접 참조 금지)
----------------------------------------------------------------------------- */
:root {
  /* Neutral */
  --color-neutral-10: #FCFCFC;
  --color-neutral-50: #F2F2F2;
  --color-neutral-100: #EBEBEB;
  --color-neutral-200: #E0E0E0;
  --color-neutral-300: #BDBDBD;
  --color-neutral-400: #A8A8A8;
  --color-neutral-500: #969696;
  --color-neutral-600: #747474;
  --color-neutral-700: #696969;
  --color-neutral-800: #474747;
  --color-neutral-900: #1A1A1A;

  /* Blue Gray */
  --color-blue-gray-10: #FCFCFD;
  --color-blue-gray-50: #F9FAFB;
  --color-blue-gray-100: #F3F5F6;
  --color-blue-gray-200: #E7EBEE;
  --color-blue-gray-300: #DCE0E5;
  --color-blue-gray-400: #A8B3BD;
  --color-blue-gray-500: #7F8A94;
  --color-blue-gray-600: #66707A;
  --color-blue-gray-700: #525960;
  --color-blue-gray-800: #3B4044;
  --color-blue-gray-900: #181A1B;

  /* Violet */
  --color-violet-10: #F8F5FF;
  --color-violet-50: #EFE7FE;
  --color-violet-100: #E4D7FE;
  --color-violet-200: #CCB4FD;
  --color-violet-300: #AF89FA;
  --color-violet-400: #9E70FA;
  --color-violet-500: #8B54F7;
  --color-violet-600: #6D35DD;
  --color-violet-700: #5323AA;
  --color-violet-800: #401590;
  --color-violet-900: #371870;

  /* Pink */
  --color-pink-10: #FFF4FF;
  --color-pink-50: #FFE7FE;
  --color-pink-100: #FEB1FA;
  --color-pink-200: #FF8CF4;
  --color-pink-300: #FA67F3;
  --color-pink-400: #FE4AF6;
  --color-pink-500: #FF19F5;
  --color-pink-600: #BF13B8;
  --color-pink-700: #A00999;
  --color-pink-800: #800D78;
  --color-pink-900: #61035B;

  /* Red */
  --color-red-10: #FEF6F6;
  --color-red-50: #FBDCDA;
  --color-red-100: #F8C6C3;
  --color-red-200: #F39591;
  --color-red-300: #ED615A;
  --color-red-400: #E93D35;
  --color-red-500: #E22A21;
  --color-red-600: #BA231C;
  --color-red-700: #8C1C17;
  --color-red-800: #671714;
  --color-red-900: #4D120F;

  /* Orange */
  --color-orange-10: #FFF9F5;
  --color-orange-50: #FFE7D6;
  --color-orange-100: #FFD3B3;
  --color-orange-200: #FFBB8A;
  --color-orange-300: #FF9D57;
  --color-orange-400: #FF8024;
  --color-orange-500: #F86800;
  --color-orange-600: #E05E00;
  --color-orange-700: #B04A00;
  --color-orange-800: #8F3C00;
  --color-orange-900: #662B00;

  /* Yellow */
  --color-yellow-10: #FFFDF5;
  --color-yellow-50: #FFFAE0;
  --color-yellow-100: #FFF6C2;
  --color-yellow-200: #FFF1A3;
  --color-yellow-300: #FFE970;
  --color-yellow-400: #FFDF33;
  --color-yellow-500: #FFD600;
  --color-yellow-600: #F0CB00;
  --color-yellow-700: #E0BE00;
  --color-yellow-800: #D1B100;
  --color-yellow-900: #B89B00;

  /* Green */
  --color-green-10: #F6FEF6;
  --color-green-50: #DFFBDF;
  --color-green-100: #ACF6AD;
  --color-green-200: #6AF66C;
  --color-green-300: #3AE93C;
  --color-green-400: #00CC02;
  --color-green-500: #00AA02;
  --color-green-600: #008502;
  --color-green-700: #006601;
  --color-green-800: #004D01;
  --color-green-900: #003301;

  /* Blue */
  --color-blue-10: #F5FBFF;
  --color-blue-50: #E6F4FE;
  --color-blue-100: #C3E4FE;
  --color-blue-200: #8ACCFF;
  --color-blue-300: #70C1FF;
  --color-blue-400: #3DABFF;
  --color-blue-500: #0A95FF;
  --color-blue-600: #007CDB;
  --color-blue-700: #0065B2;
  --color-blue-800: #004B85;
  --color-blue-900: #003761;

  --color-white: #FFFFFF;
}

/* -----------------------------------------------------------------------------
    Layer 2
----------------------------------------------------------------------------- */
:root {
  /* Background */
  --color-frame-neutral-0: var(--color-white);
  --color-frame-neutral-1: var(--color-neutral-50);
  --color-frame-neutral-2: var(--color-neutral-100);
  --color-frame-neutral-3: var(--color-neutral-200);
  --color-container-primary-light: var(--color-violet-10);
  --color-container-primary-medium: var(--color-violet-50);
  --color-container-primary: var(--color-violet-600);
  --color-container-secondary-light: var(--color-pink-10);
  --color-container-secondary-medium: var(--color-pink-50);
  --color-container-secondary: var(--color-pink-400);
  --color-container-neutral-0: var(--color-white);
  --color-container-neutral-1: var(--color-neutral-10);
  --color-container-neutral-2: var(--color-neutral-50);
  --color-container-neutral-3: var(--color-neutral-200);
  --color-container-neutral-4: var(--color-neutral-300);
  --color-container-neutral-5: var(--color-neutral-500);
  --color-container-neutral-6: var(--color-neutral-900);
  --color-container-statusSuccess-light: var(--color-green-50);
  --color-container-statusSuccess: var(--color-green-500);
  --color-container-statusWarning-light: var(--color-yellow-50);
  --color-container-statusWarning: var(--color-yellow-700);
  --color-container-statusError-light: var(--color-red-50);
  --color-container-statusError: var(--color-red-500);
  --color-container-statusInfo-light: var(--color-blue-50);
  --color-container-statusInfo: var(--color-blue-500);

  /* Text */
  --color-text-onPrimary: var(--color-white);
  --color-text-primary: var(--color-violet-600);
  --color-text-primary-dark: var(--color-violet-700);
  --color-text-onSecondary: var(--color-white);
  --color-text-secondary: var(--color-pink-400);
  --color-text-secondary-dark: var(--color-pink-700);
  --color-text-onNeutral: var(--color-white);
  --color-text-neutral-1: var(--color-neutral-300);
  --color-text-neutral-2: var(--color-neutral-400);
  --color-text-neutral-3: var(--color-neutral-600);
  --color-text-neutral-4: var(--color-neutral-700);
  --color-text-neutral-5: var(--color-neutral-900);
  --color-text-statusSuccess: var(--color-green-500);
  --color-text-statusWarning: var(--color-yellow-700);
  --color-text-statusError: var(--color-red-500);
  --color-text-statusInfo: var(--color-blue-500);
  --color-text-statusInfo-dark: var(--color-blue-700);

  /* Border */
  --color-border-onPrimary: var(--color-white);
  --color-border-primary-light: var(--color-violet-100);
  --color-border-primary: var(--color-violet-600);
  --color-border-onSecondary: var(--color-white);
  --color-border-secondary-light: var(--color-pink-100);
  --color-border-secondary: var(--color-pink-400);
  --color-border-onNeutral: var(--color-white);
  --color-border-neutral-1: var(--color-neutral-50);
  --color-border-neutral-2: var(--color-neutral-100);
  --color-border-neutral-3: var(--color-neutral-200);
  --color-border-neutral-4: var(--color-neutral-300);
  --color-border-neutral-5: var(--color-neutral-500);
  --color-border-neutral-6: var(--color-neutral-900);
  --color-border-statusSuccess-light: var(--color-green-100);
  --color-border-statusSuccess: var(--color-green-500);
  --color-border-statusWarning-light: var(--color-yellow-100);
  --color-border-statusWarning: var(--color-yellow-700);
  --color-border-statusError-light: var(--color-red-100);
  --color-border-statusError: var(--color-red-500);
  --color-border-statusInfo-light: var(--color-blue-100);
  --color-border-statusInfo: var(--color-blue-500);

  /* Icon */
  --color-icon-onPrimary: var(--color-white);
  --color-icon-primary: var(--color-violet-600);
  --color-icon-onSecondary: var(--color-white);
  --color-icon-secondary: var(--color-pink-400);
  --color-icon-onNeutral: var(--color-white);
  --color-icon-blueGray-1: var(--color-blue-gray-200);
  --color-icon-blueGray-2: var(--color-blue-gray-300);
  --color-icon-blueGray-3: var(--color-blue-gray-400);
  --color-icon-blueGray-4: var(--color-blue-gray-500);
  --color-icon-blueGray-5: var(--color-blue-gray-900);
  --color-icon-statusSuccess: var(--color-green-500);
  --color-icon-statusWarning: var(--color-yellow-700);
  --color-icon-statusError: var(--color-red-500);
  --color-icon-statusInfo: var(--color-blue-500);

  /* Custom */
  --color-custom-icon-1: var(--color-yellow-500);
}