/* -----------------------------------------------------------------------------
    Layer 1 (직접 참조 금지)
----------------------------------------------------------------------------- */
:root {
  /* Gray */
  --color-gray-0: #000000;
  --color-gray-4: #0f0f0f;
  --color-gray-7: #111111;
  --color-gray-11: #171717;
  --color-gray-14: #1c1c1c;
  --color-gray-18: #222222;
  --color-gray-21: #2a2a2a;
  --color-gray-25: #2a2a37;
  --color-gray-28: #303030;
  --color-gray-32: #474747;
  --color-gray-36: #484858;
  --color-gray-39: #505050;
  --color-gray-43: #545461;
  --color-gray-46: #5c5c5c;
  --color-gray-50: #737373;
  --color-gray-54: #767676;
  --color-gray-57: #81818d;
  --color-gray-61: #8a8a8a;
  --color-gray-64: #999999;
  --color-gray-68: #9b9b9b;
  --color-gray-71: #a5a5af;
  --color-gray-75: #b0b0b0;
  --color-gray-79: #c4c4c4;
  --color-gray-82: #dcdcdc;
  --color-gray-86: #e5e5ec;
  --color-gray-89: #f1f1f5;
  --color-gray-93: #f7f7f7;
  --color-gray-96: #f7f7fb;
  --color-gray-100: #ffffff;

  /* Red */
  --color-red-10: #3b0101;
  --color-red-20: #730303;
  --color-red-30: #b00c0c;
  --color-red-40: #e52222;
  --color-red-50: #ff4242;
  --color-red-60: #ff6363;
  --color-red-70: #ff8c8c;
  --color-red-80: #ffb5b5;
  --color-red-90: #fed5d5;
  --color-red-95: #feecec;
  --color-red-99: #fffafa;

  /* Red Orange */
  --color-red-orange-10: #290f00;
  --color-red-orange-20: #592100;
  --color-red-orange-30: #913500;
  --color-red-orange-40: #c94a00;
  --color-red-orange-50: #ff5a00;
  --color-red-orange-55: #ff9200;
  --color-red-orange-60: #ff7b2e;
  --color-red-orange-70: #ff9b61;
  --color-red-orange-80: #ffbd96;
  --color-red-orange-90: #fed9c4;
  --color-red-orange-95: #feeee5;
  --color-red-orange-99: #fffaf7;

  /* Blue */
  --color-blue-10: #001536;
  --color-blue-20: #002966;
  --color-blue-30: #003e9c;
  --color-blue-40: #0054d1;
  --color-blue-45: #005eeb;
  --color-blue-50: #0066ff;
  --color-blue-55: #1a75ff;
  --color-blue-60: #3385ff;
  --color-blue-65: #4f95ff;
  --color-blue-70: #69a5ff;
  --color-blue-80: #9ec5ff;
  --color-blue-90: #c9defe;
  --color-blue-95: #eaf2fe;
  --color-blue-99: #f7fbff;

  /* Green */
  --color-green-10: #00240c;
  --color-green-20: #004517;
  --color-green-30: #006e25;
  --color-green-40: #009632;
  --color-green-50: #00bf40;
  --color-green-60: #1ed45a;
  --color-green-70: #49e57d;
  --color-green-80: #7df5a5;
  --color-green-90: #acfcc7;
  --color-green-95: #d9ffe6;
  --color-green-97: #ebf5e9;
  --color-green-99: var(--color-gray-100);

  /* Opacity */
  --color-opacity-white-12: #ffffff1f;
  --color-opacity-white-20: #ffffff33;
  --color-opacity-white-30: #ffffff4d;
  --color-opacity-white-50: #ffffff80;
  --color-opacity-white-60: #ffffff99;
  --color-opacity-white-92: #ffffffeb;

  --color-opacity-black-6: #1111180f;
  --color-opacity-black-20: #11111833;
  --color-opacity-black-30: #1111184d;
  --color-opacity-black-50: #11111880;
  --color-opacity-black-60: #11111899;
  --color-opacity-black-85: #111111eb;

  /* Brand */
  --color-brand-magenta: #ff2e98;
}

/* -----------------------------------------------------------------------------
    Layer 2
----------------------------------------------------------------------------- */
:root {
  --color-primary-normal: var(--color-brand-magenta);
  --color-primary-default: var(--color-blue-50);
  /* Font */
  --color-font-main: var(--color-gray-7);
  --color-font-sub-1: var(--color-gray-39);
  --color-font-sub-2: var(--color-gray-54);
  --color-font-disabled-w: var(--color-gray-96);
  --color-font-disabled-b: var(--color-gray-64);
  --color-font-white: var(--color-gray-100);

  /* Line */
  --color-line-light: var(--color-gray-89);
  --color-line-regular: var(--color-gray-86);
  --color-line-black: var(--color-gray-7);
  --color-line-disabled: var(--color-gray-96);

  /* Black / Disabled */
  --color-state-black: var(--color-gray-25);
  --color-state-disabled: var(--color-gray-71);

  /* Icon */
  --color-icon-black: var(--color-gray-25);
  --color-icon-regular: var(--color-gray-36);
  --color-icon-light: var(--color-gray-57);
  --color-icon-white: var(--color-gray-100);
  --color-icon-disabled: var(--color-gray-71);

  /* Background Normal */
  --color-bg-normal-black: var(--color-gray-25);
  --color-bg-normal-regular: var(--color-gray-96);
  --color-bg-normal-light: var(--color-gray-96);
  --color-bg-normal-white: var(--color-gray-100);
  --color-bg-normal-disabled: var(--color-gray-89);
  --color-bg-normal-disabled-dark: var(--color-gray-86);

  /* Background Opacity */
  --color-bg-opacity-white-12: var(--color-opacity-white-12);
  --color-bg-opacity-white-20: var(--color-opacity-white-20);
  --color-bg-opacity-white-30: var(--color-opacity-white-30);
  --color-bg-opacity-white-50: var(--color-opacity-white-50);
  --color-bg-opacity-white-60: var(--color-opacity-white-60);
  --color-bg-opacity-white-92: var(--color-opacity-white-92);
  --color-bg-opacity-black-6: var(--color-opacity-black-6);
  --color-bg-opacity-black-20: var(--color-opacity-black-20);
  --color-bg-opacity-black-30: var(--color-opacity-black-30);
  --color-bg-opacity-black-50: var(--color-opacity-black-50);
  --color-bg-opacity-black-60: var(--color-opacity-black-60);
  --color-bg-opacity-black-85: var(--color-opacity-black-85);

  /* Status */
  --color-status-informative: var(--color-blue-50);
  --color-status-positive: var(--color-green-50);
  --color-status-delay: var(--color-red-orange-55);
  --color-status-warning: var(--color-red-50);
  --color-status-offline: var(--color-gray-64);

  /* Badge — text */
  --color-badge-text-blue: var(--color-blue-50);
  --color-badge-text-red: var(--color-red-50);
  --color-badge-text-red-orange: var(--color-red-orange-50);
  --color-badge-text-green: var(--color-green-50);
  --color-badge-text-gray: var(--color-gray-54);
  --color-badge-text-disabled: var(--color-gray-64);

  /* Badge — line */
  --color-badge-line-blue: var(--color-blue-80);
  --color-badge-line-red: var(--color-red-80);
  --color-badge-line-red-orange: var(--color-red-orange-80);
  --color-badge-line-green: var(--color-green-80);
  --color-badge-line-gray: var(--color-gray-89);
  --color-badge-line-disabled: var(--color-gray-75);

  /* Badge — background */
  --color-badge-bg-blue: var(--color-blue-95);
  --color-badge-bg-red: var(--color-red-95);
  --color-badge-bg-red-orange: var(--color-red-orange-95);
  --color-badge-bg-green: var(--color-green-95);
  --color-badge-bg-gray: var(--color-gray-96);
  --color-badge-bg-disabled: var(--color-gray-82);

  --color-scrollbar-thumb: var(--color-gray-57);
}

:root[data-theme='dark'] {
  /* Primary */
  --color-primary-normal: var(--color-brand-magenta);
  --color-primary-default: var(--color-blue-55);

  /* Font */
  --color-font-main: var(--color-gray-100);
  --color-font-sub-1: var(--color-gray-89);
  --color-font-sub-2: var(--color-gray-71);
  --color-font-disabled-w: var(--color-gray-54);
  --color-font-disabled-b: var(--color-gray-54);
  --color-font-white: var(--color-gray-0);

  /* Line */
  --color-line-light: var(--color-gray-39);
  --color-line-regular: var(--color-gray-54);
  --color-line-black: var(--color-gray-100);
  --color-line-disabled: var(--color-gray-36);

  /* Black / Disabled */
  --color-state-black: var(--color-gray-100);
  --color-state-disabled: var(--color-gray-100);

  /* Icon */
  --color-icon-black: var(--color-gray-100);
  --color-icon-regular: var(--color-gray-100);
  --color-icon-light: var(--color-gray-100);
  --color-icon-white: var(--color-gray-0);
  --color-icon-disabled: var(--color-gray-100);

  /* Background Normal */
  --color-bg-normal-black: var(--color-gray-71);
  --color-bg-normal-regular: var(--color-gray-7);
  --color-bg-normal-light: var(--color-gray-25);
  --color-bg-normal-white: var(--color-gray-0);
  --color-bg-normal-disabled: var(--color-gray-18);
  --color-bg-normal-disabled-dark: var(--color-gray-7);

  /* Background Opacity */
  --color-bg-opacity-white-12: var(--color-opacity-black-6);
  --color-bg-opacity-white-20: var(--color-opacity-black-20);
  --color-bg-opacity-white-30: var(--color-opacity-black-30);
  --color-bg-opacity-white-50: var(--color-opacity-black-50);
  --color-bg-opacity-white-60: var(--color-opacity-black-60);
  --color-bg-opacity-white-92: var(--color-opacity-black-85);
  --color-bg-opacity-black-6: var(--color-opacity-white-12);
  --color-bg-opacity-black-20: var(--color-opacity-white-20);
  --color-bg-opacity-black-30: var(--color-opacity-white-30);
  --color-bg-opacity-black-50: var(--color-opacity-white-50);
  --color-bg-opacity-black-60: var(--color-opacity-white-60);
  --color-bg-opacity-black-85: var(--color-opacity-white-92);

  /* Status */
  --color-status-informative: var(--color-blue-60);
  --color-status-positive: var(--color-green-60);
  --color-status-delay: var(--color-red-orange-60);
  --color-status-warning: var(--color-red-50);

  /* Badge — text */
  --color-badge-text-blue: var(--color-blue-70);
  --color-badge-text-red: var(--color-red-60);
  --color-badge-text-red-orange: var(--color-red-orange-60);
  --color-badge-text-green: var(--color-green-60);
  --color-badge-text-gray: var(--color-gray-0);
  --color-badge-text-disabled: var(--color-gray-54);

  /* Badge — line */
  --color-badge-line-blue: var(--color-blue-30);
  --color-badge-line-red: var(--color-red-20);
  --color-badge-line-red-orange: var(--color-red-orange-20);
  --color-badge-line-green: var(--color-green-20);
  --color-badge-line-gray: var(--color-gray-25);
  --color-badge-line-disabled: var(--color-gray-21);

  /* Badge — background */
  --color-badge-bg-blue: var(--color-blue-10);
  --color-badge-bg-red: var(--color-red-10);
  --color-badge-bg-red-orange: var(--color-red-orange-10);
  --color-badge-bg-green: var(--color-green-10);
  --color-badge-bg-gray: var(--color-gray-7);
  --color-badge-bg-disabled: var(--color-gray-11);
}

:root[data-brand='blue'] {
  --color-primary-normal: var(--color-blue-50);
  --color-primary-default: var(--color-brand-magenta);
}

:root[data-brand='custom'] {
  --color-primary-normal: var(--color-custom-primary);
  --color-primary-default: var(--color-custom-primary);
}
