@use '@/assets/styles/variables/typography' as *;
@use '../mixins/mask-icon' as *;
@use '../mixins/device-status-icon' as *;
@use '../mixins/breakpoint' as *;

.board {
  .page-layout__box {
    flex: 1;
  }
  .page-layout__content--detail {
    display: flex;
    flex-direction: column;
    padding: var(--space-20) var(--space-24) ;
    height: 100%;
    gap: var(--space-40);
    @include respond-down('tablet') {
      gap: var(--space-20);
    }
    > a {
      color: var(--color-font-sub-1);
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--btn-height-xl);
    @include respond-down('tablet') {
      flex-wrap: wrap;
      min-height: var(--btn-height-lg);
      .cm-button {
        &--xl {
          height: var(--btn-height-lg);
        }
      }
    }
  }
  &__title {
    @include typo('title-t3', var(--font-weight-semibold));
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: var(--space-12);
    margin-bottom: var(--space-12);
    gap: 3px var(--space-40);
    border-bottom: 1px solid var(--color-line-regular);
    &:last-child {
      margin-bottom: 0;
    }
    li {
      @include typo('body-b1');
      display: flex;
      align-items: center;
      min-width: 170px;
      flex: 1;
      width: 100%;
      max-width: 560px;
      line-height: 28px;
      gap: var(--space-4) var(--space-20);
      color: var(--color-font-sub-2);
      .info__label {
        display: list-item;
        margin-left: var(--space-20);
        list-style: disc;
      }
      em {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: var(--font-weight-semibold);
        color: var(--color-font-sub-1);
      }
      &.is-file {
        flex-wrap: wrap;
      }
      .cm-button {
        overflow: hidden;
        flex: 1;
        max-width: fit-content;
        min-width: 150px;
        &__text {
          max-width: calc(100% - 16px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    label {
      @include typo('body-b1');
      width: 120px;
      color: var(--color-font-sub-2);
    }
  }
  &__content {
    @include typo('body-b3');
    padding-bottom: var(--space-20);
    margin-bottom: var(--space-20);
    border-bottom: 1px solid var(--color-line-regular);

    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: var(--space-20);
    }
    &__title {
      @include typo('title-t5');
      padding-bottom: var(--space-20);
      border-bottom: 1px solid var(--color-line-regular);
    }
    li {
      color: var(--color-font-sub-1);
      em {
        @include typo('body-b3', var(--font-weight-semibold));
        margin-bottom: var(--space-8);
        color: var(--color-font-main);
      }
      & + li {
        margin-top: var(--space-20);
      }
    }
  }
  &.is-detail {
    .page-layout__content--detail {
      padding: var(--space-40);
    }
    .board {
      &__header {
        min-height: 0;
      }
    }
  }

  .form {
    & + .form {
      position: relative;
      padding-top: var(--space-40);
      border-top: 1px solid var(--color-line-regular);
      @include respond-down('tablet') {
        padding-top: var(--space-20);
      }
    }
  }
}
