@use '../variables/typography' as *;
@use '../mixins/breakpoint' as *;

.login {
  --login-title-color: var(--color-font-main);
  --login-bg-color: var(--color-bg-normal-white);
  --login-shadow-color: var(--color-bg-opacity-black-20);
  --login-text-color: var(--color-font-sub-2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  margin: auto; 
  &.is-full {
    display: flex;
    width: 100%;
    min-height: 100%;
  }

  &__background {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    gap: var(--space-20);
    img {
      width: 160px;
    }
  }
  &__title {
    @include typo('title-t1');
    text-align: center;
  }
  &__form {
    flex: 1 1 0%;
    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: var(--space-40);
      @include respond-down('mobile') {
        margin-top: var(--space-20);
      }
    }
    .v-textfield {
      &.size--xl {
        .v-textfield__input {
          @include respond-down('mobile') {
          }
        }
      }
    }
  }
  .v-selector {
    padding-top: var(--space-4);
  }
  &__button {
    @include typo('button-but2', var(--font-weight-regular));
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding: 0 var(--space-16);
    background-color: transparent;
    color: var(--login-text-color);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 16px;
      background-color: var(--color-line-regular);
      transform: translateY(-50%);
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
  }
  &--style1 {
    display: inline-flex;
    align-self: center;
    flex: 1 1 0%;
    max-width: 640px;
    width: 100%;
    margin: var(--space-20);
    background-color: var(--login-bg-color);
    border-radius: 20px;
    box-shadow: 0px 2px 12px 0px var(--login-shadow-color);
    @include respond-down('mobile') {
      box-shadow: none;
    }
    .login {
      &__form {
        padding: var(--space-40) var(--space-60);
        @include respond-down('mobile') {
         padding: var(--space-20);
        }
      }
    }
  }
  &--style2 {
    overflow: hidden;
    display: inline-flex;
    align-self: center;
    flex: 1 1 0%;
    width: 100%;
    max-width: 1200px;
    max-height: 694px;
    margin: var(--space-20);
    background-color: var(--login-bg-color);
    border-radius: 24px;
    box-shadow: 0px 2px 12px 0px var(--login-shadow-color);
    box-sizing: border-box;
    @include respond-down('mobile') {
      flex-direction: column;
      box-shadow: none;
    }
    .login {
      &__background {
        max-width: 53%;
        @include respond-down('mobile') {
          height: 120px;
          max-width: 100%;
        }
      }
      &__header {
        align-items: flex-start;
      }
      &__form {
        overflow-y: auto;
        padding: var(--space-60) 80px;
        @include respond-down('mobile') {
          padding: var(--space-20);
        }
      }
    }
  }
  &--style3 {
    display: flex;
    width: 100%;
    height: -webkit-fill-available;
    background-color: var(--login-bg-color);
    @include respond-down('mobile') {
      flex-direction: column;
    }
    .login {
      &__background {
        width: 50%;
        @include respond-down('mobile') {
          height: 120px;
          width: 100%;
        }
      }
      &__header {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        @include respond-down('mobile') {
          flex-direction: column;
          align-items: flex-start;
          gap: var(--space-20);
          img {
            width: 160px;
          }
        }
      }
      &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 0%;
        max-width: 580px;
        margin: 0 auto;
        padding: var(--space-20);
        @include respond-down('mobile') {
          max-width: 100%;
          padding: 45px var(--space-60);
          margin: 0;
        }
      }
    }
    .cm-button--full {
      flex: none;
    }
  }
}

@media (max-width: 455px) {
  .login--style1 {
    .login__button {
      &:nth-child(2) {
        &::before {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 373px) {
  .login--style2 {
    .login__button {
      &:nth-child(2) {
        &::before {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 415px) {
  .login--style3 {
    .login__button {
      &:nth-child(2) {
        &::before {
          display: none;
        }
      }
    }
  }
}
