.layout-guide {
  --lnb-width: 235px;
  width: 100dvw;
  min-height: 100dvh;
  position: relative;
  color: var(--g-color-text);

  font-family: var(--font-family);
  font-size: var(--g-font-size-sm);

  &__lnb {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--lnb-width);
    height: 100dvh;
    background-color: var(--g-color-background);
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    font-size: var(--g-font-size-lg);
    font-weight: 300;
    letter-spacing: -0.025rem;
    color: var(--g-color-neutral-950);
    flex: none;
  }

  &__nav {
    padding: 0.5rem 0.5rem 5rem 0.5rem;
    flex: 1;
    overflow-y: auto;

    ul {
      li {
        .group {
          margin-top: 1.25rem;
          opacity: 0.6;
          padding: 0.25rem 0.5rem;
          font-size: var(--g-font-size-xs);
        }

        a {
          display: block;
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          opacity: 0.7;
          font-size: var(--g-font-size-sm);

          &:hover {
            opacity: 1;
          }

          &.active {
            opacity: 1;
            color: var(--g-color-primary);
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 0;
              display: block;
              width: 4px;
              height: 12px;
              transform: translate(-100%, -50%);
              border-radius: var(--g-rounded-sm);
              background-color: var(--g-color-primary);
            }
          }
        }
      }
    }
  }

  &__contents {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: var(--lnb-width);
    width: calc(100% - var(--lnb-width));
    min-height: 100dvh;
    padding: 2rem;

    main {
      width: 100%;
      min-width: 700px;
      overflow: auto;
    }
  }

  h1 {
    font-size: var(--g-font-size-xl);
    font-weight: 300;
    color: var(--g-color-neutral-950);

    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: var(--g-font-size-lg);
    font-weight: 500;
    color: var(--g-color-neutral-950);
    margin-top: 2rem;
    margin-bottom: 0.65rem;
  }

  blockquote {
    margin: 0.75rem 0;
    padding: 0.75rem 1rem;
    background-color: var(--g-color-background);
    border-radius: var(--g-rounded-md);
    color: var(--g-color-text);

    span {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin: 0 0.35rem;
      border-radius: var(--g-rounded-sm);
      background-color: var(--g-color-neutral-200);
      font-style: italic;
      color: var(--g-color-text);
    }
  }

  hr {
    margin: 42px 0;
  }
}

.g-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.g-btn {
  --g-btn-main-color: var(--g-color-primary);
  padding: 0.25rem 0.875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  flex: none;
  white-space: nowrap;
  border-radius: var(--g-rounded-sm);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:has(> svg) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  svg {
    width: 1.15rem;
    height: 1.15rem;
  }

  svg + span {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  span:has(+ svg) {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  &:hover {
    box-shadow: inset 100rem 0 0 rgba(200, 200, 200, 0.1);
  }

  &:active {
    box-shadow: inset 100rem 0 0 rgba(100, 100, 100, 0.1);
  }

  &--solid {
    @extend .g-btn;
    background-color: var(--g-btn-main-color);
    color: var(--g-color-neutral-0);
  }

  &--line {
    @extend .g-btn;
    background-color: transparent;
    color: var(--g-btn-main-color);
    border: 1px solid var(--g-btn-main-color);
  }

  &--neutral {
    --g-btn-main-color: var(--g-color-neutral);
  }

  &--sm {
    padding: 0.125rem 0.75rem;
    height: 2rem;

    &:has(> svg) {
      padding-left: 0.35rem;
      padding-right: 0.35rem;
    }
  }
}

.g-box {
  border: 1px solid var(--g-color-neutral-100);
  border-radius: var(--g-rounded-md);
  padding: 0.5rem;
}
