@use './mask-icon' as *;

@mixin device-status-icon($size, $icon-size) {
  position: relative;
  width: $size;
  height: $size;
  border-radius: 50%;
  &::after {
    @include pseudo-icon($icon-size, '../images/icon/device-router__fill--fff.svg');
    color: var(--color-icon-white);
  }
}

.device-status-icon {
  display: inline-block;
  flex: none;
  flex-shrink: 0;
  @include device-status-icon(32px, 14px);

  &--online {
    background-color: var(--color-status-positive);
  }

  &--warning {
    background-color: var(--color-status-delay);
  }

  &--offline {
    background-color: var(--color-status-offline);
  }
}
