@mixin mask-icon($src, $size: null) {
  background-color: currentColor;
  -webkit-mask-image: url('#{$src}');
  mask-image: url('#{$src}');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;

  @if $size != null {
    width: $size;
    height: $size;
  }
}

@mixin pseudo-icon($size: 100%, $src) {
  @include mask-icon($src, null);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);
  @content;
}
