/// @param {String} $src       [null]    - 아이콘 경로 (ex: '../images/icon/arrow__back--2a2.svg')
/// @param {Length} $size      [null]    - 아이콘 너비·높이 (동일값 적용)

@mixin mask-icon($src: null, $size: null) {
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;

  @if $size {
    width: $size;
    height: $size;
  }

  @if $src {
    -webkit-mask-image: url('#{$src}');
    mask-image: url('#{$src}');
  }
}

/// @param {Length} $size      [100%]    - 아이콘 너비·높이
/// @param {String} $src       [null]    - 아이콘 경로
@mixin pseudo-icon($size: 100%, $src: null) {
  @include mask-icon($src, null);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  transform: translate(-50%, -50%);
  @content;
}
