@mixin state-layer($bg-var, $offset: 0px) {
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: -$offset;
    left: -$offset;
    z-index: 2;
    width: calc(100% + (#{$offset} * 2));
    height: calc(100% + (#{$offset} * 2));
    background-color: var(#{$bg-var});
    border-radius: inherit;
    pointer-events: none;
    transition: var(--transition);
  }
}
