@mixin truncate($rows: 1) {
  @if $rows == 1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  @else if $rows > 1 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $rows;
  }
}