@use '../mixins/index' as *;
@use '../variables/typography' as *;


.v-datepicker {
  @include textfield-size;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: var(--inputs-vertical-space);
  min-width: 50px;
  max-width: 300px;
  .dp {
    @include textfield-base;
    &__main {
      @include typo('body-b2');
      .dp__theme_light {
        --dp-font-family: var(--font-family);
        --dp-menu-min-width: 300px;
        --dp-cell-size: 36px;
        --dp-menu-padding: 0;
        --dp-row-margin: var(--space-4) 0;
        --dp-background-color: var(--color-bg-normal-white);
        --dp-menu-border-color: transparent;
        --dp-border-radius: 8px;
        --dp-cell-border-radius: 50%;
        --dp-font-size: var(--typo-body-b3-size);
        --dp-text-color: var(--color-font-main);
        --dp-primary-color: var(--color-primary-normal);
        --dp-secondary-color: var(--color-font-disabled-b);
        --dp-hover-color: var(--color-bg-normal-light);
        --dp-hover-text-color: var(--color-font-main);
        --dp-range-between-dates-background-color: var(--color-bg-normal-light);
      }
    }

    &__input {
      padding-right: 44px;
      &:hover {
        &:not(.dp__input_focus) {
          border-color: var(--inputs-border-color);
        }
      }

      &_icon {
        @include mask-icon('../images/icon/calendar__line--2a2.svg', 20px);
        padding: 0 var(--space-16) 0 var(--space-8);
        inset-inline-start: unset;
        inset-inline-end: 0;
        color: var(--color-icon-black);
        path {
          display: none;
        }
      }
    }
    &--clear-btn {
      @include mask-icon('../images/icon/delete__circle--111.svg', 20px);
      width: var(--inputs-textfield-icon-size);
      height: var(--inputs-textfield-icon-size);
      padding: 0;
      inset-inline-end: 40px;
      color: var(--color-gray-75);
      svg {
        display: none;
      }
    }
  }
  &__input-wrapper {
    position: relative;
    &.is-disabled {
      .dp__input_icon {
        cursor: not-allowed;
        opacity: 0.5;
      }
      .dp__input {
        &:hover {
          border-color: var(--inputs-disabled-border-color);
        }
      }
    }
  }

  &__desc {
    font-size: var(--inputs-desc-size);
    color: var(--inputs-desc-text-color);
  }

  // 오류 시
  &.has-error &__label,
  &.has-error &__desc {
    color: var(--inputs-error-color);
  }

  &.has-error &__input {
    border-color: var(--inputs-error-color);
  }

  &.has-error .dp__theme_light .dp__input {
    --dp-border-color: var(--inputs-error-color);
    --dp-border-color-hover: var(--inputs-error-color);
  }
}
.dp__menu {
  box-shadow: 0px 2px 8px 0px var(--color-bg-opacity-black-6);
  .dp {
    &__arrow_top {
      display: none;
    }
    &--header-wrap {
      padding: var(--space-16) 0;
      .dp {
        &__month_year_wrap {
          justify-content: center;
          .dp__month_year_wrap {
            padding: 0 29px;
            width: fit-content;
          }
        }
        &--arrow-btn-nav {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border: 1px solid var(--color-line-regular);
          border-radius: 50%;
          &:last-child {
            transform: rotate(180deg);
          }
          .dp__inner_nav {
            @include mask-icon('../images/icon/arrow-l__line--2a2.svg', 12px);
            color: var(--color-icon-light);

            svg {
              display: none;
            }
          }
        }
        &__btn {
          @include typo('body-b1', var(--font-weight-semibold));
          padding: 0 var(--space-4);
   
        }
        &__month_year_select {
          width: fit-content;
        }
      }
    }
    &__calendar {
      &_header {
        margin-bottom: 4px;
        &_item {
          font-weight: 400;
          color: var(--color-font-sub-1);
        }
        &_separator {
          display: none;
        }
      }
      &_item {
        justify-items: center;
        &:first-child {
          color: var(--color-status-warning);
        }
        &:has(.dp__range_start) {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 25px;
            height: 100%;
            background-color: var(--color-bg-normal-light);
            transform: translateY(-50%);
          }
        }
        &:has(.dp__range_end) {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 25px;
            height: 100%;
            background-color: var(--color-bg-normal-light);
            transform: translateY(-50%);
          }
        }
        &:has(.dp__range_between) {
          position: relative;
          background-color: var(--color-bg-normal-light);
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% + 8px);
            height: 100%;
            background-color: var(--color-bg-normal-light);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    &__cell {
      &_disabled {
        &:not(.dp__range_start):not(.dp__range_end):not(.dp__range_between) {
          &.dp__date_hover {
            background-color: transparent;
            color: var(--color-font-disabled-b);
          }
        }
      }
    }
    &__range {
      &_start,
      &_end {
        position: relative;
        z-index: 1;
        border-radius: 50%;
        color: var(--color-font-white) !important;
      }
      &_between {
        color: var(--color-primary-normal);
        &:hover {
          color: var(--color-primary-normal);
        }
      }
    }
    &__today {
      border: 0;
      color: var(--color-primary-normal);
      &.dp__active_date {
        color: var(--color-font-white);
      }
      &:hover {
        color: var(--color-primary-normal);
      }
    }
    &__active_date {
      // background-color: var(--color-bg-normal-white);
    }
    &__action {
      &_row {
        // display: none;
      }
    }
  }
}
.dp__overlay {
  border-radius: 8px;
}
