@use '../mixins/index' as *;
@use '../variables/typography' as *;

.form {
  --form-label-height: var(--inputs-height-md);
  --form-label-height-sm: 24px;
  --form-grid-gap: var(--space-40);
  --form-grid-gap-sm: var(--space-20);
  container-type: inline-size;
  container-name: form;
  width: 100%;
  &__field {
    display: flex;
    position: relative;
    gap: var(--inputs-vertical-space);

    &__control {
      display: flex;
      flex: 1;
      gap: var(--space-8);

      &--column {
        flex-direction: column;
        gap: var(--space-12);
      }

      .cm-button {
        margin-top: calc(var(--typo-body-b1-lh) + var(--inputs-vertical-space));
      }

      &-timer {
        position: relative;
        flex: 1;
      }
    }

    .v-textfield,
    .v-dropdown,
    .v-textarea {
      flex: 1;
    }

    > .v-textfield__label + .form__field__control,
    > .v-dropdown__label + .form__field__control,
    > .v-textarea__label + .form__field__control {
      .cm-button {
        margin-top: 0;
      }
    }

    > .v-textfield__label,
    > .v-dropdown__label,
    > .v-textarea__label {
      line-height: var(--form-label-height);
    }

    & + .form__group-desc {
      margin-left: calc(var(--inputs-label-width) + var(--inputs-vertical-space));
    }

    &--top {
      align-items: flex-start;

      > .v-textfield__label,
      > .v-dropdown__label,
      > .v-textarea__label {
        line-height: var(--form-label-height-sm);
      }
    }

    &--url {
      align-items: flex-start;

      > .v-textfield__label,
      > .v-dropdown__label,
      > .v-textarea__label {
        line-height: var(--inputs-height-lg);
      }
    }

    &--column {
      flex-direction: column;
      align-items: stretch;
      gap: var(--space-12);

      > .v-textfield__label,
      > .v-dropdown__label,
      > .v-textarea__label {
        width: auto;
        line-height: var(--form-label-height-sm);
      }
    }

    &--fixed {
    }

    &.is-timer {
      .cm-timer {
        position: absolute;
        right: 16px;
        top: 13px;

        &.is-label {
          margin-top: 31px;
        }
      }
      .v-textfield {
        &__input {
          padding-right: 60px;
        }

        &__input-wrapper {
          &.has-reset-icon {
            .v-textfield__input {
              padding-right: 94px;
            }
          }
        }

        &.has-value {
          & + .cm-timer {
            right: 50px;
          }
        }
      }
    }
    .form__group-desc {
      margin-top: 0;
    }
    &:has(.form__input-util) {
      .v-textfield__label {
        display: inline-block;
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: column;

    .v-textfield,
    .v-dropdown,
    .v-textarea {
      flex: 1;
    }
    &-desc {
      @include typo-old('body-b2');

      display: flex;
      flex-wrap: wrap;
      gap: var(--space-12);
      margin-top: var(--space-8);

      li {
        position: relative;
        padding-left: var(--space-18);
        color: var(--color-font-sub-1);

        &::before {
          @include pseudo-icon($src: '/images/icon/circle-check__line.svg', $size: 16px);
          left: 0;
          transform: translateY(-50%);
        }

        &.is-fail {
          color: var(--color-status-warning);

          &::before {
            @include pseudo-icon($src: '/images/icon/circle-check__line.svg', $size: 16px);
            left: 0;
            transform: translateY(-50%);
          }
        }

        &.is-success {
          &::before {
            @include pseudo-icon($src: '/images/icon/circle-check__line.svg', $size: 16px);
            left: 0;
            transform: translateY(-50%);
            color: var(--color-status-positive);
          }
        }

        &.is-guide {
          @include typo-old('body-b3');

          padding-left: 26px;
          color: var(--color-font-sub-2);

          &::before {
            @include pseudo-icon($src: '/images/icon/info__line.svg', $size: 20px);
            top: 0;
            left: 0;
            transform: translate(0, 0);
          }
        }

        &.is-iconless {
          padding-left: 0;
          &::before {
            display: none;
          }
        }
      }
    }
  }
  &__title {
    @include typo-old('title-t5', var(--font-weight-semibold));
    display: inline-flex;
    align-items: center;
    color: var(--color-font-main);
    &.use-icon {
      &::before {
        content: '';
        width: 3px;
        height: 18px;
        margin-right: var(--space-8);
        background: var(--color-primary-normal);
      }
    }
    &.size--sm {
      @include typo-old('body-b1', var(--font-weight-semibold));
    }
  }
  &__content {
    @include typo-old('body-b1', var(--font-weight-semibold));
    display: flex;
    align-items: flex-start;
    flex: 1;
    // padding-top: 9px;
    color: var(--color-font-sub-1);
  }
  &__chips {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: var(--space-8);
    max-height: 60px;
    overflow-y: auto;
  }
  &__label {
    @include typo-old('body-b1', var(--inputs-label-font-weight));
    position: relative;
    color: var(--inputs-label-text-color);

    &.required {
      &::after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: var(--inputs-required-space);
        margin-top: -14px;
        vertical-align: middle;
        // background: url('/images/icon/required__fill.svg') no-repeat center / contain;
      }
    }
  }
  &:not(.form__grid) {
    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: var(--space-20);
    }
  }
  &__search {
    display: flex;
    gap: var(--space-8);

    .v-textfield,
    .v-dropdown,
    .v-textarea {
      flex: 1;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: var(--form-grid-gap);
  }
  &__input-util {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: var(--space-8);

    .form__content {
      align-items: center;
      flex: none;
      word-break: break-all;
      width: fit-content;
    }

    .cm-button {
      margin: 0;
      flex-shrink: 0;
    }
  }
  &__input-url {
    display: flex;
    flex: 1;
    width: 100%;
    gap: var(--space-8);
    p {
      line-height: 48px;
    }

    .cm-button {
      margin: 0;
      flex-shrink: 0;
    }
  }
  &__input-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: var(--space-8);
    li {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      gap: var(--space-8);
      .v-textfield {
        min-width: 130px;
      }
      .cm-button--icon-only {
        background-color: var(--btn-disabled-bg);
        border: 0;
        .cm-icon--close {
          width: 16px;
          height: 16px;
          color: var(--color-icon-light);
        }
      }
      &.is-child {
        max-width: calc(100% - 128px);
      }
    }
    .list {
      &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--space-8);
      }
    }
  }
  &.size--sm {
    .form {
      &__field {
        > .v-textfield__label,
        > .v-dropdown__label,
        > .v-textarea__label {
          line-height: var(--form-label-height-sm);
        }
      }
      &__content {
        padding-top: 0;
      }
    }
    &.form {
      &__grid {
        gap: var(--form-grid-gap-sm);
      }
    }
  }
  & + .form {
    margin-top: var(--form-grid-gap);
  }
}

@container form (max-width: 340px) {
  .form__input-util {
    .cm-button {
      width: 100%;
    }
  }
  .form__input-url {
    p {
      white-space: pre-wrap;
      word-break: break-all;
    }
    div {
      flex-direction: column;
    }
    .cm-button {
      width: 100%;
    }
  }
  .form__field--fixed {
    flex-direction: column;
    gap: var(--space-8);
    .v-textfield__label {
      line-height: var(--form-label-height-md);
    }
  }
}
