@use '../mixins/index' as *;
@use '../variables/typography' as *;

.v-textarea {
  @include textfield-base;

  &__input {
    height: initial;
    padding-bottom: var(--space-32);
    resize: none;

    &.resizable {
      resize: vertical;
    }
  }

  &__count {
    @include typo('body-b3');

    position: absolute;
    bottom: 14px;
    right: 16px;
    color: var(--color-font-disabled-b);

    b {
      color: var(--color-font-sub-2);
    }
  }

  // 오류 시
  &.is-error &__input {
    border-color: var(--inputs-error-color);
  }
}