@use '../variables/typography' as *;
@use '../mixins/flex' as *;

.layout-default {
  --layout-default-header-height: 80px;
  --layout-default-inner-max-width: var(--bp-viewport-max);
  --layout-default-inner-padding-x: var(--space-24); 
  @include flex-col();

  height: 100dvh;
  min-height: 100dvh;
  background-color: var(--color-container-primary-light);

  &__main {
    @include flex();
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  &__main-inner {
    @include flex();
    flex: 1;
    height: 100%;
    min-height: 100%;
  }
}
