@use '../variables/typography' as *;
@use '../mixins/flex' as *;

.layout-default {
  @include flex-col();

  height: 100dvh;
  min-height: 100dvh;
  background-color: var(--color-container-primary-light);

  &__main {
    @include flex();
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  &__main-inner {
    @include flex();
    flex: 1;
    height: 100%;
    min-height: 100%;
    align-items: stretch;
  }
}
