@use '../variables/typography' as *;
@use '../mixins/mask-icon' as *;
@use '../mixins/breakpoint' as *;

.layout {
  &__header {
    --header-title-color: var(--color-font-main);
    --header-height: 80px;
    --header-padding: var(--space-40);
    --header-logo-width: 160px;
    --header-logo-height: 52px;
    --header-bg-color: var(--color-bg-normal-white);
    --header-border-color: var(--color-line-regular);
    --header-nav-color: var(--color-font-sub-1);
    --header-child-height: 74px;
    --header-child-border-color: var(--color-line-light);
    --header-child-nav-color: var(--color-font-main);
    --header-btn-size: 32px;
    --header-icon-color: var(--color-icon-black);
    @include respond-down('tablet') {
      --header-height: 60px;
      --header-padding: var(--space-20);
      --header-child-height: 60px;
      --header-logo-width: 76px;
      --header-logo-height: 40px;
      --header-btn-size: 24px;
    }

    position: sticky;
    top: 0;
    z-index: var(--z-index-header);
    display: flex;
    max-width: var(--bp-viewport-max);
    margin: 0 auto;
    width: 100%;
    background-color: var(--header-bg-color);
    .header {
      &--main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        width: 100%;
        max-width: var(--bp-viewport-max);
        height: var(--header-height);
        padding: 0 var(--header-padding);
        border-bottom: 1px solid var(--header-border-color);
        letter-spacing: -0.025rem;
        @include respond-down('tablet') {
          border-bottom: 0;
        }
      }
      &__logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        max-width: var(--header-logo-width);
        height: var(--header-logo-height);
        margin-right: var(--space-32);
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -16px;
          width: 1px;
          height: 24px;
          background-color: var(--header-border-color);
          transform: translateY(-50%);
        }
        @include respond-down('tablet') {
          margin-right: var(--space-8);
          &::after {
            display: none;
          }
        }
      }
      &__title {
        @include typo('headline-h5');
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
        padding-right: 10px;
        width: fit-content;
        color: var(--header-title-color);
        cursor: pointer;
      }
      &__nav {
        flex: 1;
        height: 100%;
        padding: 0 var(--space-20);

        ul {
          display: flex;
          justify-content: center;
          height: 100%;
          li {
            @include typo('headline-h6');
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            min-width: max-content;
            max-width: 160px;
            padding: 0 10px;
            color: var(--header-nav-color);
            cursor: pointer;

            &:hover,
            &.is-active {
              position: relative;
              color: var(--color-primary-normal);
              &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 50%;
                width: 100%;
                height: 3px;
                background-color: var(--color-primary-normal);
                transform: translateX(-50%);
              }
            }
            @include respond-down('tablet') { 
              max-width: 120px;
            }
          }
        }
        @include respond-down('mobile') { 
          display: none;
        }
      }
      &--child {
        position: absolute;
        top: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--header-child-height);
        background-color: var(--header-bg-color);
        border-bottom: 1px solid var(--header-child-border-color);

        &.is-right {
          ul {
            justify-content: flex-end;
          }
        }
        ul {
          display: flex;
          max-width: 960px;
          width: 100%;
          height: 100%;

          li {
            @include typo('title-t5', var(--font-weight-regular));
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--header-child-nav-color);
            cursor: pointer;
            & + li {
              margin-left: var(--space-60);
              @include respond-down('tablet') {
                margin-left: var(--space-40);
              }
            }

            &:hover,
            &.is-active {
              @include typo('title-t5', var(--font-weight-semibold));
              color: var(--color-primary-normal);
            }
          }
        }
      }
      &__dropdown {
        --dropdown-bg-color: var(--color-bg-normal-white);
        --dropdown-hover-bg-color: var(--color-bg-normal-light);
        --dropdown-border-color: var(--color-line-regular);
        --dropdown-active-border-color: var(--color-line-black);
        --dropdown-shadow-color: var(--color-bg-opacity-black-20);

        position: relative;
        display: flex;

        .dropdown {
          &__input {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 0%;
            width: fit-content;
            min-width: 134px;
            max-width: 206px;
            height: 44px;
            padding: 0 var(--space-16) 0 var(--space-6);
            background-color: var(--dropdown-bg-color);
            border: 1px solid var(--dropdown-border-color);
            border-radius: 100px;
            cursor: pointer;
            &:hover:not(.is-open):not(.is-focus) {
              background-color: var(--dropdown-hover-bg-color);
            }
            &.is-focus {
              border-color: var(--dropdown-active-border-color);
            }
            &.is-open {
              border-color: var(--dropdown-active-border-color);
              .dropdown {
                &__text {
                  font-weight: var(--font-weight-semibold);
                }
                &__arrow {
                  transform: rotate(180deg);
                }
              }
            }
            .user-profile {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              background: url('../../images/icon/user.svg') no-repeat center / cover;
            }
          }
          &__text {
            @include typo('body-b3');
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            flex: 1 1 0%;
            padding: 0 var(--space-8);
            color: var(--color-font-main);
            user-select: none;
          }
          &__arrow {
            @include mask-icon('../images/icon/arrow-d__line--111.svg', 16px);
            background-color: var(--header-icon-color);
          }
          &__menu {
            @include typo('body-b2');
            position: absolute;
            z-index: 1;
            top: calc(100% + 8px);
            left: 50%;
            width: 206px;
            padding: var(--space-8);
            background-color: var(--dropdown-bg-color);
            border-radius: 8px;
            box-shadow: 0px 2px 12px 0px var(--dropdown-shadow-color);
            transform: translateX(-50%);
            li {
              height: 48px;
              display: flex;
              align-items: center;
              padding: 0 var(--space-8);
              border-radius: 6px;
              cursor: pointer;
              & + li {
                margin-top: var(--space-4);
              }
              &:hover {
                background-color: var(--dropdown-hover-bg-color);
              }
              &.is-active {
                color: var(--color-primary-normal);
                font-weight: var(--font-weight-semibold);
              }
            }
          }
        }
        & + .header__btn {
          margin-left: var(--space-32);
        }
        @include respond-down('tablet') { 
          .dropdown {
            &__input {
              padding: 0;
              min-width: auto;
              height: 32px;
              border: 0;
            }
            &__text {
              display: none;
            }
            &__arrow {
              display: none;
            }
            &__menu {
              left: calc(-206px + 32px);
              transform: none;
            }
          }
          & + .header__btn {
            margin-left: var(--space-20);
          }
        }
      }
      &__btn {
        @include mask-icon('../images/icon/menu__line--2a2.svg', var(--header-btn-size));
        background-color: var(--header-icon-color);
        &.is-open {
          @include mask-icon('../images/icon/close__line--818.svg', var(--header-btn-size));
          background-color: var(--header-icon-color);
        }
      }
      &__all-menu {
        overflow-y: auto;
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: var(--z-index-header);
        height: calc(100vh - var(--header-height));
        background-color: var(--header-bg-color);
        &__inner {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 80px var(--space-40);
          max-width: 1200px;
          padding: var(--space-40);
          margin: 0 auto;
          > li {
            padding-top: 35px;
            border-top: 5px solid var(--header-child-border-color);
            box-sizing: border-box;
          }
        }
        .menu {
          &__title {
            @include typo('headline-h4');
            margin-bottom: var(--space-24);
            @include respond-down('tablet') {
              @include typo('title-t4');
              flex: 1;
              margin-bottom: 0;
            }
          }
          &__list {
            li {
              @include typo('title-t4', var(--font-weight-regular));
              color: var(--header-nav-color);
              cursor: pointer;
              & + li {
                margin-top: var(--space-16);
              }
              &.is-active {
                color: var(--color-primary-normal);
                font-weight: var(--font-weight-semibold);
              }
              @include respond-down('tablet') {
                & + li {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
      &__accordion {
        --accordion-body-bg-color: var(--color-bg-normal-light);

        &__divider {
          width: 100%;
          height: 5px;
          background-color: var(--color-line-light);
        }
        .cm-accordion {
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid var(--header-border-color);
          &__header {
            height: 56px;
            padding: 0 var(--space-20);
          }
          &__body {
            flex: 1;
            padding: 0;
            background-color: var(--accordion-body-bg-color);
            border: 0;
            border-radius: 0;
            li {
              @include typo('body-b1');
              display: flex;
              align-items: center;
              height: 54px;
              padding: 0 var(--space-20);
              cursor: pointer;
            }
          }
          & + .cm-accordion {
            margin-top: 0;
          }
          &__arrow {
            @include mask-icon('../images/icon/arrow-d__line--818.svg', 20px);
            background-color: var(--color-icon-light);
          }
        }
      }
    }
  }
}