@use '../variables/typography' as *;
@use '../variables/radius' as *;
@use '../mixins/flex' as *;
@use '../mixins/icon' as *;
@use '../mixins/space' as *;

.layout {
  &__header {
    --header-height: 70px;
    --header-bg-color: var(--color-container-primary-light);
    --header-title-color: var(--color-font-main);
    --header-icon-size: 48px;

    --header-nav-color: var(--color-font-sub-1);
    --header-nav-hover-color: var(--color-container-primary-medium);
    --header-nav-selected-color: var(--color-text-primary);
    --header-nav-selected-border-color: var(--color-border-primary);

    @include flex();
    @include space(var(--space-64));
    position: sticky;
    top: 0;
    z-index: var(--z-index-header);
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-bg-color);
    .header {
      &__left {
        @include flex(center, space-between);
        // TODO: 사이드바 width 변수명으로 수정 필요 admin의 경우 319px
        width: 350px;
        padding: 0 var(--space-24);
        transition: var(--transition);
        box-sizing: border-box;
        // TODO: 공통 버튼 스타일 추가되면 수정할 임시 스타일
        button {
          @include flex-center();
          position: relative;
          bottom: -9px;
          width: var(--header-icon-size);
          height: var(--header-icon-size);
          justify-self: end;
        }
      }
      &__logo {
        @include flex(flex-end);
        @include space(var(--space-8));
        cursor: pointer;
      }
      &__icon {
        width: var(--header-icon-size);
        height: var(--header-icon-size);
        background: url(../../images/icon/logo--ixi.svg) no-repeat center / cover;
      }
      &__title {
        font-size: 26px;
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-neutral-5);
        justify-self: start;
        user-select: none;
      }
      &__chip {
        @include flex-center();
        @include typo('label-1m');
        align-self: flex-end;
        height: 32px;
        padding: 0 var(--space-12);
        background-color: var(--color-container-primary-medium);
        border-radius: var(--radius-full);
        color: var(--color-text-neutral-5);
      }
      &__nav {
        height: 100%;
        flex: 1;
        ul {
          @include space(var(--space-40));
          display: flex;
          height: 100%;
          li {
            @include flex-center();
            @include typo('heading-6sb');
            padding: 0 var(--space-16);
            color: var(--header-nav-color);
            transition: var(--transition);
            cursor: pointer;
            &:hover {
              background-color: var(--header-nav-hover-color);
            }
            &.is-select {
              position: relative;
              color: var(--header-nav-selected-color);
              &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 100%;
                height: 4px;
                background-color: var(--header-nav-selected-border-color);
                transform: translateX(-50%);
              }
            }
          }
        }
      }
      &__util {
        @include flex-center();
        padding-right: var(--space-24);
      }
      &__profile {
        @include space(var(--space-8));
        @include flex(center);
        height: 32px;
        .profile {
          &__icon {
            position: relative;
            width: 32px;
            height: 32px;
            background-color: var(--color-container-primary-medium);
            border-radius: 50%;
            &::after {
              @include pseudo-icon(20px, '../../images/icon/user__fill.svg') {
                color: var(--color-icon-blue-gray-4);
              }
            }
          }
          &__name {
            @include typo('label-2sb');
            color: var(--color-text-neutral-4);
            cursor: default;
          }
        }
        & + .header__button {
          position: relative;
          margin-left: var(--space-32);
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -16px;
            width: 1px;
            height: 16px;
            background-color: var(--color-border-primary-light);
            transform: translateY(-50%);
          }
        }
      }
      &__button {
        @include flex-center();
        @include typo('label-3m');
        color: var(--color-text-neutral-3);
        .cm-icon {
          margin: var(--space-6) var(--space-6) var(--space-6) var(--space-10);
        }
       }
    }
    &.is-short {
      .header {
        &__left {
          width: auto;
          button {
            display: none;
          }
        }
        &__title {
          display: none;
        }
      }
    }
  }
}