@use '../variables/typography' as *;
@use '../variables/radius' as *;
@use '../mixins/flex' as *;
@use '../mixins/icon' as *;
@use '../mixins/space' as *;
@use '../mixins/truncate' as *;

.layout {
  &__lnb {
    --lnb-width: 350px;
    --lnb-width-admin: 314px; // admin 전용 너비 스타일
    --lnb-width-short: 96px;
    --lnb-background-color: var(--color-container-primary-light);
    --list-gap: 0;
    --list-padding: 0 var(--space-8);
    --list-item-height: 40px;
    --list-item-color: var(--color-text-neutral-5);
    --list-item-padding: 0 var(--space-24);
    --list-item-hover-background-color: var(--state-layer-hover-primary);
    --list-item-selected-background-color: linear-gradient(270deg, var(--color-pink-400) 0%, var(--color-violet-600) 100%);
    --list-item-selected-color: var(--color-text-on-primary);

    @include flex-col();
    overflow-y: auto;
    width: var(--lnb-width-admin);
    padding: var(--space-24);
    background-color: var(--lnb-background-color);
    .lnb__list {
      @include space($y: var(--list-gap));
      padding: var(--list-padding);
      &-title {
        @include flex(center);
        @include typo('body-1m');
        line-height: 22px;
        height: 40px;
        margin-bottom: var(--space-4);
        padding: 0 var(--space-20) 0 var(--space-8);
        color: var(--color-text-neutral-4);
        .cm-icon {
          margin-right: var(--space-4);
        }
      }
      &-item {
        @include flex(center);
        @include typo('body-1sb');
        @include truncate();
        height: var(--list-item-height);
        padding: var(--list-item-padding);
        border-radius: var(--radius-sm);
        color: var(--list-item-color);
        transition: var(--transition);
        cursor: pointer;
        &:hover {
          font-weight: var(--font-weight-semibold);
          background-color: var(--list-item-hover-background-color);
        }
        &.is-select {
          font-weight: var(--font-weight-semibold);
          background: var(--list-item-selected-background-color);
          color: var(--list-item-selected-color);
          .is-prepend {
            color: var(--list-item-selected-color);
          }
        }
      }
      &.size--lg {
        --list-gap: var(--space-8);
        --list-padding: 0;
        --list-item-height: 48px;
        --list-item-padding: var(--space-12) var(--space-16);
        .lnb__list {
          &-item {
            @include typo('body-1m');
            p {
              flex: 1;
              & + .is-append {
                margin-left: var(--space-16);
              }
            }
          }
        }
        .cm-icon {
          &.is-prepend + p {
            margin-left: var(--space-8);
          }
        }
      }
      &.is-child {
        --list-padding: 0 var(--space-8);
        --list-gap: var(--space-4);

        .lnb__list {
          &-title {
            @include flex(center);
            @include typo('label-3sb');
            line-height: 20px;
            height: auto;
            padding: 0;
            margin-bottom: var(--space-8);
          }
          &-item {
            --list-item-padding: 0 var(--space-8) 0 var(--space-16);
            @include typo('body-2m');
            @include truncate;
            p {
              @include truncate;
              flex: 1;
            }
            .cm-button {
              display: none;
            }
            &:hover {
              .cm-button {
                display: inline-flex;
              }
            }
            &.is-select {
              .is-append {
                .cm-icon {
                  color: var(--list-item-selected-color);
                }
              }
            }
          }
        }
      }
      & + .lnb__list {
        &:not(.size--lg) {
          &:not(.is-child) {
            margin-top: var(--space-12);
            padding-top: var(--space-12);
            background-image: repeating-linear-gradient(
              90deg,
              var(--color-border-neutral-3) 0,
              var(--color-border-neutral-3) 4px,
              transparent 4px,
              transparent 8px
            );
            background-position: 0 top;
            background-repeat: repeat-x;
            background-size: 100% 1px;
          }
        }
      }
    }
    &.is-short {
      width: var(--lnb-width-short);
      .lnb__list {
        &:not(.size--lg) {
          display: none;
        }
        &-item {
          padding: var(--space-12);
          p,
          .is-append {
            display: none;
          }
        }
      }
    }
  }
}