@use '../variables/typography' as *;
@use '../mixins/flex' as *;

.layout-login {
  @include flex-col();
  height: 100dvh;
  min-height: 100dvh;
  background-color: var(--color-container-primary-light);

  &__main {
    @include flex();
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  &__main-inner {
    @include flex-col();
    overflow-y: auto;
    flex: 1;
    min-height: 100%;
    border-radius: var(--radius-xl) 0 0 0;
    box-shadow: var(--shadow-1);
    background-color: var(--color-container-neutral-0);
    box-sizing: border-box;
  }
}
